{% load static %}

<!DOCTYPE html>
<html data-theme="winter">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}ISIC Archive</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'core/dist/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.min.css" rel="stylesheet">

    {% if JS_SENTRY %}
      <script src="https://js.sentry-cdn.com/81572a3d084f4fef90e093440762cedd.min.js" crossorigin="anonymous"></script>
    {% endif %}

    <script type="importmap">
      {
        "imports": {
          "@/": "{% get_static_prefix %}",
          "alpinejs": "https://cdn.jsdelivr.net/npm/alpinejs@3.14.9/dist/module.esm.js",
          "axios": "https://cdn.jsdelivr.net/npm/axios@1.10.0/dist/esm/axios.min.js",
          "jquery": "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js",
          "select2": "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"
        },
        "integrity": {
          "https://cdn.jsdelivr.net/npm/alpinejs@3.14.9/dist/module.esm.js": "sha512-tl00Cb6otC7Mhw/4lPyCNm2O6kq2vvMNCRWCHvonNM/URh+umrmMPmP/lq2RIoO+m+DVIPqhspdyqMF1+ox9QQ==",
          "https://cdn.jsdelivr.net/npm/axios@1.10.0/dist/esm/axios.min.js": "sha512-808OVFDzMGNqq67STMWkAXAMwI1oznwNVRGI3bOeq/Nq2lRQ8QVA6sU8sbXI1vkz9cNJjDqZXkZvj18es1NNyw==",
          "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js": "sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==",
          "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js": "sha512-4MvcHwcbqXKUHB6Lx3Zb5CEAVoE9u84qN+ZSMM6s7z8IeJriExrV3ND5zRze9mxNlABJ6k864P/Vl8m0Sd3DtQ=="
        }
      }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" integrity="sha256-zaSoHBhwFdle0scfGEFUCwggPN7F+ip9XRglo8IWb4w=" crossorigin="anonymous">

    <script type="module" src="{% static 'core/js/base.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VBHRJSWF1T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VBHRJSWF1T');
    </script>

    <script type="text/javascript">
      function downloadAsZip(params) {
        params = params || Object.fromEntries((new URL(document.location)).searchParams);
        console.log(params);

        axios.post('/api/v2/zip-download/url/', params, {
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          }
        }).then((resp) => {
          window.location.href = resp.data;
        }).catch(function(error) {
          alert('Something went wrong, try again.');
          console.error(error);
        });
      }
    </script>

    {% block head_extra %}{% endblock %}
  </head>

  <body x-data="quickfind" @keydown.escape="closeQuickfindModal()">
    {% include 'core/partials/navbar.html' %}

    <div class="{% block container_class %}container max-w-7xl mx-auto p-8{% endblock %}">
      {% if messages %}
        {% include 'core/partials/messages.html' %}
      {% endif %}

      {% block content %}{% endblock %}

      {% include 'find/quickfind_modal.html' %}
    </div>

    <script type="module" src="https://unpkg.com/@github/time-elements@3.1.2?module"></script>
  </body>
</html>
