{% extends 'core/base.html' %}
{% load humanize %}
{% load get_key %}

{% block content %}
  <div class="mb-5 flex flex-col justify-between">
    <div class="flex justify-between">
      <div class="heading-2">Collections</div>
      <div class="flex justify-between">
        {% include 'core/partials/collection_list_actions.html' %}
      </div>
    </div>
    <div class="my-4">
      {% url 'core/collection-list' as base %}
      <a class="text-white" href="{% querystring pinned="true" doi=None shared_with_me=None mine=None %}">
        <button class="btn btn-secondary primary gap-2">
          Pinned
          <div class="badge badge-accent">{{ counts.pinned }}</div>
        </button>
      </a>
      <a class="text-white" href="{% querystring pinned=None doi="true" shared_with_me=None mine=None %}">
        <button class="btn btn-secondary primary gap-2">
          DOI
          <div class="badge badge-accent">{{ counts.doi }}</div>
        </button>
      </a>
      {% if request.user.is_authenticated %}
        <a class="text-white" href="{% querystring pinned=None doi=None shared_with_me="true" mine=None %}">
          <button class="btn btn-secondary primary gap-2">
            Shared with Me
            <div class="badge badge-accent">{{ counts.shared_with_me }}</div>
          </button>
        </a>
        <a class="text-white" href="{% querystring pinned=None doi=None shared_with_me=None mine="true" %}">
          <button class="btn btn-secondary primary gap-2">
            Mine
            <div class="badge badge-accent">{{ counts.mine }}</div>
          </button>
        </a>
      {% endif %}
      <a class="text-white" href="{{ base }}">
        <button class="btn btn-secondary primary gap-2">
          All
          <div class="badge badge-accent">{{ counts.all_ }}</div>
        </button>
      </a>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    {% for collection in collections %}
      <div class="relative rounded-lg border border-gray-300 {% if collection.public %}bg-white{% else %}bg-red-100{% endif %} px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
        {% if collection.pinned %}
          <i class="ri-pushpin-2-line"></i>
        {% endif %}

        <div class="flex-1 min-w-0">
          <a href="{{ collection.get_absolute_url }}" class="focus:outline-none">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">
              {{ collection.name }}
            </p>
            <p class="text-sm text-gray-500 truncate">
              {{ collection.num_images|intcomma }} images
            </p>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

  {% include 'studies/partials/pagination.html' with page_obj=collections %}
{% endblock %}
