{% extends 'core/base.html' %}
{% load static %}
{% load localtime %}
{% load humanize %}
{% load markdownify %}
{% load partials %}

{% block head_extra %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" integrity="sha256-9yRP/2EFlblE92vzCA10469Ctd0jT48HnmmMw5rJZrA=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" integrity="sha256-zaSoHBhwFdle0scfGEFUCwggPN7F+ip9XRglo8IWb4w=" crossorigin="anonymous">
  <script src="{% static 'core/dist/cog.js' %}"></script>
  <link rel="stylesheet" href="{% static 'core/dist/ol.css' %}">
{% endblock %}

{% block content %}
  <div x-data="collectionDetail()">
    <div class="flex justify-between">
      <div class="flex justify-items">
        <div class="heading-1">{{ collection.name }}</div>
      </div>

      {% include 'core/partials/collection_detail_actions.html' %}
    </div>

    <template x-if="true">
      <div x-show="modalOpen">
        {% include 'core/partials/collection_share_modal.html' %}
      </div>
    </template>

    {% partialdef detail-item %}
      <li>
        <span class="font-bold">{{ label }}:</span>
        {% if link %}
          <a href="{{ link }}">{{ value }}</a>
        {% elif value == "None" %}
          <span class="tooltip" data-tip="Counts are being calculated and will be available shortly">
            - <i class="ri-information-line"></i>
          </span>
        {% else %}
          {{ value }}
        {% endif %}
      </li>
    {% endpartialdef %}

    <div id="detail-info">
      <ul x-data="collectionAttributionInformation()">
        {% with label="Name" value=collection.name %}
          {% partial detail-item %}
        {% endwith %}
        {% if collection.doi %}
          {% with label="DOI" value=collection.doi.external_url link=collection.doi.external_url %}
            {% partial detail-item %}
          {% endwith %}
        {% endif %}
        {% with label="Number of images" value=collection.counts.image_count|intcomma %}
          {% partial detail-item %}
        {% endwith %}
        {% with label="Number of specified lesions" value=collection.counts.lesion_count|intcomma %}
          {% partial detail-item %}
        {% endwith %}
        {% with label="Number of specified patients" value=collection.counts.patient_count|intcomma %}
          {% partial detail-item %}
        {% endwith %}
        <li>
          <span class="font-bold">Attribution:</span>
          <a x-show="!fetched" href="#" @click.prevent="fetchMetaInformation()">
            View
            <div x-show="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </a>
          <ul class="list-disc">
            <template x-for="attribution in attributions">
              <li x-show="fetched" class="ml-6">
                <span x-text="attribution.license" class="font-semibold"></span>: <span x-text="attribution.attribution"></span> (<span x-text="attribution.count.toLocaleString()"></span>)
              </li>
            </template>
          </ul>
        </li>
      </ul>

      {% if collection.description %}
        <div id="collection-description">
          <span class="font-bold">Description:</span>
          {{ collection.description|markdownify }}
        </div>
      {% endif %}
    </div>

    {% if request.user.is_staff or contributors or show_shares %}
      <div class="my-4 p-2 rounded-sm bg-gray-100 border border-gray-200">
        <div class="font-semibold black text-lg">
          Private Attributes (visible only to you)
        </div>
        <ul>
          {% if request.user.is_staff %}
            <li>
              <span class="font-bold">Creator:</span>
              {{ collection.creator }}
            </li>
            <li>
              <span class="font-bold">Created:</span>
              {% localtime collection.created %}
            </li>
          {% endif %}

          {% if contributors %}
            <li>
              <span class="font-bold">Contributors:</span>
              <ul class="list-disc">
                {% for contributor in contributors %}
                  <li class="ml-6">
                    {{ contributor.institution_name }}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}

          {% if request.user.is_staff %}
            <li>
              <span class="font-bold">Public:</span>
              {{ collection.public|yesno }}
            </li>
          {% endif %}

          {% if show_shares %}
            <li>
              <span class="font-bold">Directly shared with:</span>
              {% if collection.shares.exists %}
                <ul class="list-disc">
                  {% for user in collection.shared_with %}
                    <li class="ml-6">{{ user }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                <span>nobody</span>
              {% endif %}
            </li>
          {% endif %}

          {% if collection.draftdoi %}
            <li>
              <span class="font-bold">Draft DOI:</span>
              <a href="{% url 'core/doi-detail' collection.draftdoi.slug %}">{{ collection.draftdoi.id }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  </div>


  {% include 'studies/partials/cursor_pagination.html' %}
  <div x-data="collectionEditor({{ collection.pk }})">
    {% if image_removal_mode %}
      <div class="alert shadow-lg my-6">
        <div>
          <i class="ri-information-line stroke-info flex-shrink-0 text-lg"></i>
          <span>
            <span x-text="images.size"></span> images pending removal.
          </span>
        </div>
        <div class="flex-none">
          <button class="btn btn-sm btn-ghost" @click="resetImages('{% url 'core/collection-detail' collection.id %}')">Abort</button>
          <button class="btn btn-sm btn-error" @click="deleteImages()">Remove</button>
        </div>
      </div>
    {% endif %}

    <div class="mb-4" x-data="thumbnailGrid();">
      <div class="hidden pb-3 sm:flex sm:flex-row sm:justify-end">
        <a class="px-1" href="#" @click="decrease();">fewer columns</a>
        |
        <a class="px-1" href="#" @click="increase();">more columns</a>
      </div>
      <div class="grid gap-4 grid-cols-2" :class="gridClassNames[numCols]">
        {% for image in images %}
          {% if image_removal_mode %}
            {% include 'core/partials/edit_collection_image.html' %}
          {% else %}
            {% include 'core/partials/image.html' %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% include 'studies/partials/cursor_pagination.html' %}

  {% include 'ingest/partials/thumbnail_grid_js.html' %}
  {% include 'core/partials/edit_collection_js.html' %}

  </div>

  <script type="text/javascript">
    function collectionDetail() {
      return {
        modalOpen: false,
        errorMessage: '',
        shareCollectionWithUsers() {
          let _this = this; // eek

          if ($('#user-selection').val().length === 0) {
            _this.errorMessage = 'Please select at least one user to share the collection with.';
            return;
          }

          if (confirm('Are you sure you want to grant additional access to this collection?')) {
            axios.post('{% url "api:collection_share_to_users" collection.pk %}', {
              user_ids: $('#user-selection').val().map(function(n) { return parseInt(n) }),
              notify: document.getElementById('notify-users').checked
            }, {
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
              }
            }).then((resp) => {
              window.location.reload();
            }).catch(function(error) {
              _this.errorMessage = error.response.data[0];
            });
          }
        },
        deleteCollection() {
          if (confirm('Are you sure you want to delete this collection? This action cannot be undone.')) {
            axios.delete('/api/v2/collections/{{ collection.pk }}/', {
              headers: {
                'X-CSRFToken': '{{ csrf_token }}'
              }
            }).then((resp) => {
              window.location.href = '{% url "core/collection-list" %}';
            }).catch(function(error) {
              if (error.response && error.response.data && error.response.data.error) {
                alert(error.response.data.error);
              } else {
                alert('Something went wrong.');
              }
            });
          }
        },
      };
    }

    function collectionAttributionInformation() {
      return {
        attributions: [],
        fetched: false,
        loading: false,
        fetchMetaInformation() {
          const _this = this;
          this.loading = true;
          axios.get('{% url "api:collection_attribution_information" collection.pk %}').then((resp) => {
            _this.attributions = resp.data;
            _this.loading = false;
            _this.fetched = true;
          });
        }
      }
    }
  </script>
{% endblock %}
