{% extends 'core/base.html' %}
{% load get_key %}
{% load humanize %}
{% block content %}
  <div class="flex justify-between">
    <h1>{{ collection.name }}</h1>

    {% if request.user.is_staff and not collection.doi %}
      <div class="relative inline-block text-left" x-data="{open: false}">
        <div>
          <button @click.away="open = false" @click="open = !open" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
            Actions
            <!-- Heroicon name: solid/chevron-down -->
            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
        <div x-show="open" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
          <div class="py-1" role="none">
            <a href="{% url 'core/collection-create-doi' collection.pk %}" class="hover:bg-gray-100 hover:text-gray-900 text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Create a DOI</a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="my-4 bg-gray-50 p-2 rounded-sm border-gray-200 border">
    <ul>
      <li>
        <span class="font-bold">Name:</span>
        {{ collection.name }}
      </li>
      {% if collection.doi %}
        <li>
          <span class="font-bold">DOI:</span>
          <a href="{{ collection.doi.url }}">{{ collection.doi.url }}</a>
        </li>
      {% endif %}
      {% if contributors %}
        <li>
          <span class="font-bold">Contributors:</span>
          <ul>
            {% for contributor in contributors %}
              <li>
                <a href="{% url 'admin:ingest_contributor_change' contributor.pk %}">{{ contributor.institution_name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
      <li>
        <span class="font-bold">Number of images:</span>
        {{ num_images|intcomma }}
      </li>
    </ul>
  </div>
  {% if collection.description %}
    <p>
      {{ collection.description }}
    </p>
  {% endif %}

  {% include 'studies/partials/pagination.html' with page_obj=images %}
  <div class="mb-4" x-data="thumbnailGrid();">
    <div class="flex flex-row justify-end pb-3">
      <a class="px-1" href="#" @click="decrease();">fewer columns</a>
      |
      <a class="px-1" href="#" @click="increase();">more columns</a>
    </div>
    <div class="grid gap-4" :class="`grid-cols-${numCols}`">
      {% for image in images %}
        {% include 'core/partials/image.html' %}
      {% endfor %}
    </div>
  </div>
  {% include 'studies/partials/pagination.html' with page_obj=images %}
  {% include 'ingest/partials/thumbnail_grid_js.html' %}
{% endblock %}
