{% extends 'core/base.html' %}

{% block content %}
  <h1>Create a DOI for {{ collection.name }}<span class="ml-2 text-base font-semibold"><a href="{% url 'core/collection-detail' collection.pk %}">back to collection</a></span></h1>

  {% if warnings %}
    <ul class="flex bg-red-100 border border-red-300 my-4 px-4 py-3 rounded-md text-red-900 text-sm">
      {% for warning in warnings %}
        <li>{{ warning }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="mt-4">Below is a preview of what your DOI will look like:</div>
  <div class="my-4 bg-gray-50 p-2 rounded-sm border-gray-200 border">
    <h3>{{ preview.titles.0.title }}</h3>
    <div>{{ preview.creators  }}</div>
    <div class="font-semibold">Dataset published {{ preview.publicationYear }} via {{ preview.publisher }}</div>
    <div><a href="#">https://doi.org/{{ preview.doi }}</a></div>
    <div>Contributed by <span class="font-semibold">{{ preview.contributor }}</span></div>
  </div>

  <div class="text-center">
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit"
        class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Create this DOI
      </button>
    </form>
  </div>
{% endblock %}
