{% extends 'core/base.html' %}
{% load static %}

{% block head_extra %}
  <script src="{% static 'core/js/combobox.js' %}"></script>
{% endblock %}

{% block content %}
  {% if collection and collection.locked %}
    <div class="alert alert-error">
      <i class="ri-error-warning-line text-lg"></i>
      <span>This collection is locked for editing.</span>
    </div>
  {% else %}
    <form class="flex flex-col max-w-2xl mx-auto space-y-4" method="post">
      {% csrf_token %}

      {{ form.non_field_errors }}

      {% if not collection %}
        <div class="heading-1">Create a Collection</div>
        <p class="text-sm text-base-content/60">
          A Collection is a container for a set of images. Collections can be used as the basis for sharing images or creating studies.
          A Collection can be public or private, and each of the individual images within it can be public or private.
        </p>
      {% else %}
        <div class="heading-1">Edit Collection</div>
      {% endif %}

      <fieldset class="fieldset">
        <label class="fieldset-legend" for="{{ form.name.html_name }}">{{ form.name.label }}</label>
        <input type="text" value="{{ form.name.value|default_if_none:'' }}" name="{{ form.name.html_name }}" id="{{ form.name.html_name }}" class="input input-bordered w-full">
        {{ form.name.errors }}
      </fieldset>

      <fieldset class="fieldset">
        <label class="fieldset-legend" for="{{ form.tags.name }}-select">{{ form.tags.label }}</label>
        {{ form.tags }}
        {{ form.tags.errors }}
      </fieldset>

      <fieldset class="fieldset">
        <label class="fieldset-legend" for="{{ form.description.html_name }}">{{ form.description.label }}</label>
        <textarea id="{{ form.description.html_name }}" name="{{ form.description.html_name }}" rows="12" class="textarea textarea-bordered w-full">{{ form.description.value|default_if_none:'' }}</textarea>
        <p class="fieldset-label"><span class="prose">{{ form.description.help_text|safe }}</span></p>
        {{ form.description.errors }}
      </fieldset>

      <fieldset class="fieldset">
        <label class="fieldset-legend flex w-fit items-center gap-2">
          <input type="checkbox" name="{{ form.public.html_name }}" {% if form.public.value %}checked{% endif %} class="checkbox" />
          {{ form.public.label }}
        </label>
        <p class="fieldset-label">A public collection can't contain private images.</p>
        {{ form.public.errors }}
      </fieldset>

      <button type="submit" class="btn btn-primary self-end">
        {% if not collection %}Create Collection{% else %}Save{% endif %}
      </button>
    </form>
  {% endif %}
{% endblock %}
