{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  <div class="heading-1 mb-4">Create a DOI for {{ collection.name }}<span class="ml-2 text-base font-semibold"><a href="{% url 'core/collection-detail' collection.pk %}">back to collection</a></span></div>

  {% if error %}
    <div class="rounded-md bg-red-50 p-4 mb-4">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <!-- Heroicon name: solid/information-circle -->
          <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                  clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <div class="mt-2 text-sm text-red-700">
            <p>{{ error }}</p>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="flex justify-between">
      <div class="mt-4">Below is a preview of what your DOI will look like:</div>
      <label for="file-input" class="btn btn-primary">Add Supplemental Files</label>
    </div>

    <div class="my-4 bg-gray-50 p-2 rounded-sm border-gray-200 border">
      <div class="heading-3">{{ preview.titles.0.title }}</div>
      <div>{{ preview.creators }}</div>
      <div class="font-semibold">Dataset published {{ preview.publicationYear }} via {{ preview.publisher }}</div>
      <div><a href="#">https://doi.org/{{ preview.doi }}</a></div>
      <div>Contributed by <span class="font-semibold">{{ preview.creators }}</span></div>
    </div>

    <div x-data="SupplementalFileUploader()">
      <form @submit.prevent="createDOI({{ collection.id }})">
        <div class="text-center">
          <div class="w-full">
            {# the cut is a hack to let the token (SimpleLazyObject) be serializable by json_script #}
            {{ csrf_token|cut:""|json_script:"csrf-token" }}

            <input type="file" id="file-input" class="hidden" @change="handleFileUpload" />

            <table class="table w-full my-6" x-show="files.length > 0" x-cloak>
              <thead>
                <tr>
                  <th>File Name</th>
                  <th>Size</th>
                  <th>Description</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <template x-for="(file, index) in files" :key="file.name">
                  <tr>
                    <td x-text="file.name"></td>
                    <td x-text="formatBytes(file.size)"></td>
                    <td><textarea x-model="descriptions[index]" required placeholder="Description" class="w-full"></textarea></td>
                    <td><button type="button" @click="removeFile(index)" :disabled="numFilesInProgress > 0" class="btn btn-danger">Remove</button></td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>

        <button type="submit" class="btn btn-primary float-right" :disabled="numFilesInProgress > 0">
          Create this DOI
        </button>
      </form>
    </div>

    <script src="{% static 'core/dist/supplementalFileUploader.js' %}"></script>
  {% endif %}
{% endblock %}
