{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
  <div x-data="imageBrowser()">

    <div class="flex justify-end">
      {% include 'core/partials/image_gallery_actions.html' %}
    </div>

    <template x-if="true">
      <div x-show="modalOpen">
        {% include 'core/partials/collection_picker_modal.html' %}
      </div>
    </template>

    <div class="my-4 bg-gray-50 p-2 rounded-sm border-gray-200 border">
      <form method="GET" id="" action="">
        {{ form.non_field_errors }}

        <div class="flex justify-between">
          <div style="width:500px">
            {{ form.query }}
          </div>
          <div>
            {{ form.collections.label }}
            {{ form.collections }}
          </div>
        </div>

        <button type="submit" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span>Search</span>
        </button>
      </form>
    </div>

    <div class="flex justify-between">
      Showing {{ images.paginator.count|intcomma }} results
      {% include 'studies/partials/pagination.html' with page_obj=images %}
    </div>

    <div class="mb-4" x-data="thumbnailGrid();">
      <div class="flex flex-row justify-end pb-3">
        <a class="px-1" href="#" @click="decrease();">fewer columns</a> |
        <a class="px-1" href="#" @click="increase();">more columns</a>
      </div>
      <div class="grid gap-4" :class="`grid-cols-${numCols}`">
        {% for image in images %}
          {% include 'core/partials/image.html' %}
        {% endfor %}
      </div>
    </div>

    {% include 'studies/partials/pagination.html' with page_obj=images %}

    {% include 'ingest/partials/thumbnail_grid_js.html' %}
  </div>


  <script type="text/javascript">
    function imageBrowser() {
      // allow between 4-8 columns
      return {
        modalOpen: false,
        open: false,
        selectedCollection:'',
        addSearchResultsToCollection() {
          if (confirm('Are you sure you want to add {{ total_images|intcomma }} images to this collection?')) {
            fetch(`/api/v2/collections/${this.selectedCollection}/populate-from-search/`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
              },
              body: '{{ search_body|safe }}',
            }).then((resp) => {
              window.location.href = `/collections/${this.selectedCollection}/`;
            }).catch(console.error);
          }
        },
      }
    }
  </script>
{% endblock %}
