{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
  <header class="border-b border-gray-100 flex items-center justify-between py-2 pb-4">
    <div class="flex-col">
      <div class="heading-1">Staff ({{ users.count }})</div>
    </div>
  </header>

  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.date_joined }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="flex-col mt-4">
    <div class="heading-1">Total Users ({{ total_users.count|intcomma }})</div>
  </div>
{% endblock %}
