{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
  <h1>Archive Statistics</h1>
  <div class="mt-10 pb-12 bg-white sm:pb-16">
    <div class="relative">
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
          {% for stat in stats %}
            <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3 {% if not forloop.first %}mt-3{% endif %}">
              {% for label, value in stat %}
                <div class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
                  <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                    {{ label }}
                  </dt>
                  <dd class="order-1 text-5xl font-extrabold text-indigo-600">
                    {{ value|intcomma }}
                  </dd>
                </div>
              {% endfor %}
            </dl>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
