<h1>Getting Started</h1>

Welcome to the ISIC Archive API! The API enables downloading and filtering images and metadata for later analysis. The ISIC command line utility is the preferred tool for downloading images and metadata from the ISIC Archive, instructions for using it are here: <a href="https://github.com/ImageMarkup/isic-cli#isic-cli=">github.com/ImageMarkup/isic-cli</a>.

To use the REST API directly, consider looking at the <code>/images/</code> and <code>/images/search/</code> endpoints to get started.
