The search query uses a simple DSL syntax.

Some example queries are:
<pre>
    # Display images diagnosed as melanoma from patients that are approximately 50 years old.
    age_approx:50 AND diagnosis_3:"Melanoma Invasive"
</pre>
<pre>
    # Display images from male patients that are approximately 20 to 40 years old.
    age_approx:[20 TO 40] AND sex:male
</pre>
<pre>
    # Display images from the anterior, posterior, or lateral torso anatomical site where the diagnosis was confirmed by single image expert consensus.
    anatom_site_general:*torso AND diagnosis_confirm_type:"single image expert consensus"
</pre>

The following fields are exposed to the query parameter:
<ul>
    <li>diagnosis_1</li>
    <li>diagnosis_2</li>
    <li>diagnosis_3</li>
    <li>diagnosis_4</li>
    <li>diagnosis_5</li>
    <li>age_approx</li>
    <li>sex</li>
    <li>diagnosis_confirm_type</li>
    <li>personal_hx_mm</li>
    <li>family_hx_mm</li>
    <li>clin_size_long_diam_mm</li>
    <li>melanocytic</li>
    <li>acquisition_day</li>
    <li>nevus_type</li>
    <li>image_type</li>
    <li>dermoscopic_type</li>
    <li>anatom_site_general</li>
    <li>mel_mitotic_index</li>
    <li>mel_thick_mm</li>
    <li>mel_ulcer</li>
</ul>

For additional information on the fields, see the [ISIC Data Dictionary](https://www.isic-archive.com/data-dictionary).
