--find-links https://girder.github.io/large_image_wheels

amqp==5.2.0
annotated-types==0.7.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asttokens==2.4.1
bcrypt==4.2.0
billiard==4.2.0
boto3==1.34.148
botocore==1.34.148
Brotli==1.1.0
cachetools==5.4.0
celery==5.4.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cryptography==43.0.0
deepdiff==7.0.1
dj-database-url==2.2.0
dj-email-url==1.0.6
Django==5.0.7
django-allauth==0.63.6
django-auth-style==0.8.1
django-click==2.4.0
django-composed-configuration==0.25.0
django-configurations==2.5.1
django-cors-headers==4.4.0
django-extensions==3.2.3
django-filter==24.2
django-girder-utils==0.13.1
django-json-widget==2.0.1
django-ninja==1.2.2
django-oauth-toolkit==1.7.1
django-object-actions==4.2.0
django-s3-file-field==1.0.1
django-spurl==0.6.8
django-storages==1.14.4
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
dnspython==2.6.1
drf-yasg==1.21.7
Events==0.5
executing==2.0.1
GDAL==3.10.0
google-analytics-data==0.18.9
google-api-core==2.19.1
google-auth==2.32.0
googleapis-common-protos==1.63.2
grpcio==1.65.1
grpcio-status==1.65.1
gunicorn==22.0.0
hashids==1.3.1
httplib2==0.22.0
idna==3.7
inflection==0.5.1
isic-metadata==2.1.0
jaro-winkler==2.0.3
jmespath==1.0.1
jwcrypto==1.5.6
kombu==5.3.7
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.0.1
oauth2client==4.1.3
oauthlib==3.2.2
opensearch-py==2.6.0
ordered-set==4.1.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==5.27.2
psycopg==3.2.1
pure_eval==0.2.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycountry==24.6.1
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pymongo==4.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
rsa==4.9
s3transfer==0.10.2
sentry-sdk==2.11.0
six==1.16.0
sqlparse==0.5.1
tenacity==8.5.0
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
URLObject==2.4.3
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.7.0
zipfile-deflate64==0.2.0
