{% load humanize %}

<dialog x-ref="collectionShareModal" class="modal">
  <div class="modal-box max-w-xl">
    <div class="heading-3 mb-2">Share "{{ collection.name }}" with others:</div>
    <select id="user-selection" name="user_ids[]" multiple="multiple"></select>

    <div class="mt-4">
      <label class="flex items-center gap-2">
        <input type="checkbox" id="notify-users" checked>
        <span>Send email notification to selected users</span>
      </label>
    </div>

    <div x-text="errorMessage"></div>

    <div class="modal-action">
      <button type="button" class="btn btn-ghost" @click="$refs.collectionShareModal.close()">Close</button>
      <button @click="shareCollectionWithUsers()" type="button" class="btn btn-primary">
        Share collection and images with users
      </button>
    </div>
  </div>
  <div class="modal-backdrop" @click="$refs.collectionShareModal.close()"></div>
</dialog>

<script type="text/javascript">
  $("#user-selection").select2({
    // Render the dropdown inside the modal so it's not hidden behind the <dialog> backdrop
    dropdownParent: $("[x-ref='collectionShareModal'] .modal-box"),
    ajax: {
      url: '{% url "api:user_autocomplete" %}',
      data: function (params) {
        // remap the "term" parameter from select2 to "query" so it's
        // consistent with other autocomplete endpoints.
        return {
          query: params.term
        }
      },
      processResults: function (data) {
        return {
          results: data
        };
      },
      delay: 50,
    },
    placeholder: 'Search for a user by email',
    minimumInputLength: 3,
    templateResult: formatUser,
    templateSelection: function (user) {
      return user.email || user.text;
    }
  });

  function formatUser(user) {
    if(user.loading) {
      return user.text;
    }

    const $container = $(
      "<div class='select2-result-user clearfix'>" +
      "<div class='select2-result-user__email'>" + user.email + "</div>" +
      "<div class='select2-result-user__name'>" + user.first_name + " " + user.last_name + "</div>" +
      "</div>"
    );

    return $container;
  }
</script>
