<script type="text/javascript">
  function collectionEditor(collectionId) {
    const storageKey = `images_to_remove_collection_${collectionId}`;
    const existingStorage = localStorage.getItem(storageKey);
    let images = new Set();

    if (existingStorage !== null) {
      images = new Set(JSON.parse(existingStorage));
    }

    return {
      collectionId: collectionId,
      images: images,
      _imagesToArray() {
        return Array.from(this.images.values())
      },
      _persist() {
        localStorage.setItem(storageKey, JSON.stringify(this._imagesToArray()));
      },
      toggleImage(imageId) {
        if (this.images.has(imageId)) {
          this.images.delete(imageId);
        } else {
          this.images.add(imageId);
        }

        this._persist();
      },
      removeImage(imageId) {
        this._persist();
      },
      deleteImages() {
        let _this = this; // eek
        if (confirm(`Are you sure you want to remove ${this.images.size} images from this collection?`)) {
          axios.post(`/api/v2/collections/${this.collectionId}/remove-from-list/`, {'isic_ids': this._imagesToArray()},
                         { headers: {
                           'Content-Type': 'application/json',
                           'X-CSRFToken': '{{ csrf_token }}'
                         }
          }).then((resp) => {
            this.resetImages(`/collections/${this.collectionId}/`);
          }).catch(function(error) {
            console.error(error);
            alert('Something went wrong.');
        });
        }
      },
      resetImages(url) {
        this.images.clear();
        this._persist();
        window.location.href = url;
      }
    }
  }
</script>
