{% load accession %}

<dialog x-ref="imageModal" class="modal">
  <div class="modal-box max-w-5xl max-h-[calc(100vh-2rem)]">
    <template x-if="hovered">
      {% if image.accession.is_cog %}
        <div>
          <div id="image-{{ image.id }}" class="w-full max-w-[512px] aspect-square border border-gray-300 mx-auto"></div>
          <script type="text/javascript">
            initializeCogViewer(document.getElementById('image-{{ image.id }}'), '{{ image.blob.url|safe }}');
          </script>
        </div>
      {% else %}
        {% if zoomable %}
          <div>
            <div id="image-{{ image.id }}" class="w-full max-w-[512px] aspect-square border border-gray-300 mx-auto"></div>
            <script type="text/javascript">
              initializeImageViewer(document.getElementById('image-{{ image.id }}'), '{{ image.blob.url|safe }}');
            </script>
            <p class="text-center text-sm text-gray-500 mt-2 min-h-[1.25rem]">Scroll to zoom, click and drag to pan</p>
          </div>
        {% else %}
          {% comment %}Note the single quotes: https://github.com/alpinejs/alpine/issues/466{% endcomment %}
          <img :src="'{{ image.blob.url }}'" class="max-w-full max-h-[70vh] object-contain mx-auto" />
        {% endif %}
      {% endif %}
    </template>

    {% if include_metadata %}
      <div x-data="{selectedTab: 'Metadata'}">
        <div class="mt-2">
          <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select a tab</label>
            <select id="tabs" name="tabs" class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
              <option :selected="selectedTab == 'Metadata'">Metadata</option>
            </select>
          </div>
          <div class="hidden sm:block">
            <nav class="flex space-x-4" aria-label="Tabs">
              <a href="" @click.prevent="selectedTab = 'Metadata'" class="px-3 py-2 font-medium text-sm rounded-md"
                 :class="{'bg-indigo-100 text-indigo-700': selectedTab == 'Metadata',
                         'text-gray-500 hover:text-gray-700': selectedTab != 'Metadata'}">
                Metadata
              </a>
            </nav>
          </div>
        </div>

        <div class="my-2 bg-gray-100 p-4">
          <pre x-show="selectedTab == 'Metadata'">{{ image.metadata|formatted }}</pre>
        </div>
      </div>
    {% endif %}

    <div class="modal-action">
      <button type="button" class="btn" @click="$refs.imageModal.close()">Close</button>
    </div>
  </div>
  <div class="modal-backdrop" @click="$refs.imageModal.close()"></div>
</dialog>
