<a class="cursor-pointer">
  <img @mouseenter="hovered = true"
       @click="open = true"
       src="{{ image.thumbnail_256.url }}"
       {% comment %}forcibly set the width and height to 256px to account for TBP tiles which can be smaller{% endcomment %}
       width="256"
       height="256"
       loading="{% if lazy %}lazy{% else %}eager{% endif %}" />
</a>

<template x-if="true">
  <div x-show="open">
    {% block image_modal %}
      {% include 'core/partials/image_modal.html' with include_metadata=1 %}
    {% endblock %}
  </div>
</template>
