<div>
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <div class="alert alert-info shadow-lg mb-4">
        <div>
          <i class="ri-information-line"></i>
          <span>{{ message }}</span>
        </div>
      </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success shadow-lg mb-4">
        <div>
          <i class="ri-checkbox-circle-line"></i>
          <span>{{ message }}</span>
        </div>
      </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
      <div class="alert alert-warning shadow-lg mb-4">
        <div>
          <i class="ri-alarm-warning-line"></i>
          <span>{{ message }}</span>
        </div>
      </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-error shadow-lg mb-4">
        <div>
          <i class="ri-error-warning-line"></i>
          <span>{{ message }}</span>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
