<li><a target="blank" href="https://www.isic-archive.com/">ISIC Home <i class="ri-external-link-line"></i></a></li>
<li><a target="blank" href="https://gallery.isic-archive.com/">Gallery <i class="ri-external-link-line"></i></a></li>
{% if request.user.is_staff %}
  <li>
    <details>
      <summary>Staff</summary>
      <ul class="w-48 z-20">
        <li><a href="{% url 'ingest/ingest-review' %}">Ingest Review</a></li>
        <li><a href="{% url 'ingest/cohort-list' %}">Cohort List</a></li>
        <li><a href="{% url 'core/embargoed-dashboard' %}">Embargoed Images</a></li>
        <li><a href="{% url 'core/image-list-export' %}">Image List</a></li>
        <li><a href="{% url 'core/staff-list' %}">Users</a></li>
        <li><a target="blank" href="{% url 'admin:index' %}">Django Admin <i class="ri-external-link-line"></i></a></li>
      </ul>
    </details>
  </li>
{% endif %}
<li><a href="{% url 'upload/select-or-create-contributor' %}">Upload</a></li>
<li><a href="{% url 'core/image-browser' %}">Images</a></li>
<li><a href="{% url 'core/collection-list' %}">Collections</a></li>
<li><a href="{% url 'studies/study-list' %}">Studies</a></li>
<li><a href="{% url 'stats/stats' %}">Stats</a></li>
<li><a href="{% url 'core/data-explorer' %}">Data Explorer</a></li>
<li><a target="blank" href="{% url 'docs-swagger' %}">API <i class="ri-external-link-line"></i></a></li>
