{% extends 'core/base.html' %}

{% block content %}
  <div>
    <div class="heading-2">{{ annotation.study.name }}</div>
    {{ annotation.annotator }}
    <br>
    {{ annotation.image.id }}
  </div>


  <div class="heading-4">Markups</div>
  <table>
    <thead>
      <tr>
        <th>Feature</th>
        <th>Present</th>
        <th></th>
      </tr>
    </thead>

    {% for markup in annotation.markups.all %}
      <tr>
        <td>{{ markup.feature.label }}</td>
        <td>{% if markup.present %}Present{% else %}-{% endif %}</td>
        <td>{% if markup.present %}<a href="{% url 'view-mask' markup.id %}">View Mask</a>{% else %}-{% endif %}</td>
      </tr>
    {% endfor %}
  </table>

  <div class="heading-4">Responses</div>
  <table>
    <thead>
      <tr>
        <th>Prompt</th>
        <th>Response</th>
      </tr>
    </thead>

    {% for response in annotation.responses.all %}
      <tr>
        <td>{{ response.question.prompt }}</td>
        <td>{{ response.choice.text }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
