{% extends 'core/base.html' %}

{% block content %}
  <div>
    <div class="heading-2">{{ annotation.study.name }}</div>
    {{ annotation.annotator }}
    <br>
    {{ annotation.image.id }}
  </div>


  <div class="heading-3">Markups</div>
  <div class="overflow-x-auto border border-base-300">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>Feature</th>
          <th>Present</th>
          <th>Mask</th>
        </tr>
      </thead>
      <tbody>
        {% for markup in annotation.markups.all %}
          <tr>
            <td>{{ markup.feature.label }}</td>
            <td>{% if markup.present %}Present{% else %}-{% endif %}</td>
            <td>{% if markup.present %}<a href="{% url 'studies/view-mask' markup.id %}" class="link link-hover link-primary">View Mask</a>{% else %}-{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="heading-3">Responses</div>
  <div class="overflow-x-auto border border-base-300">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>Prompt</th>
          <th>Response</th>
        </tr>
      </thead>
      <tbody>
        {% for response in annotation.responses.all %}
          <tr>
            <td>{{ response.question.prompt }}</td>
            <td>{% if response.choice %}{{ response.choice.text }}{% elif response.value %}{{ response.value.value }}{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
