{% extends 'core/base.html' %}
{% load humanize %}
{% load localtime %}
{% load resonant_utils %}

{% block content %}
  <div class="mb-5 flex justify-between">
    <div class="heading-1">Studies</div>
    <div class="flex justify-between">
      {% include 'studies/partials/study_list_actions.html' %}
    </div>
  </div>

  <div class="bg-white shadow overflow-hidden sm:rounded-md">
    <ul class="divide-y divide-gray-200">
      {% for study in studies %}
        <li>
          <div class="px-4 py-4 sm:px-6 sm:flex sm:justify-between">
            <div>
              <div class="flex">
                <p class="text-sm font-medium text-indigo-600 truncate">
                  <div>
                    <a href="{% url 'study-detail' study.id %}" class="block hover:bg-gray-50">
                      {{ study.name }}
                    </a>
                    <p class="text-sm text-gray-500">{{ study.attribution }}</p>
                  </div>
                  {% if not study.public %}
                    <p class="h-5 px-2 ml-2 text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                      Private
                    </p>
                  {% endif %}
                  {% with pending_tasks=num_pending_tasks|get_item:study.pk completed_tasks=num_completed_tasks|get_item:study.pk %}
                    {% if pending_tasks %}
                      <p class="px-2 ml-2 text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                        {{ pending_tasks|intcomma }} remaining tasks
                      </p>
                    {% endif %}
                    {% if completed_tasks %}
                      <p class="px-2 ml-2 text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                        {{ completed_tasks|intcomma }} completed tasks
                      </p>
                    {% endif %}
                  {% endwith %}
                </p>
              </div>
              <p class="my-2">{{ study.description }}</p>
              <p class="flex items-center text-sm text-gray-500">
                <i class="ri-group-fill h-5 w-5"></i>
                {{ num_participants|get_item:study.pk|default_if_none:0 }} participating
              </p>
            </div>
            <div class="mt-2 text-sm text-gray-500">
              <p>{% localtime study.created %}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% include 'studies/partials/pagination.html' with page_obj=studies %}
{% endblock %}
