{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
  {% if pending_tasks and next_task %}
    <div class="alert alert-info mb-4">
      <i class="ri-information-line text-lg"></i>
      <span>You have {{ pending_tasks.count|intcomma }} tasks remaining for this study.</span>
      <a href="{% url 'studies/study-task-detail' next_task.pk %}" class="btn btn-primary btn-sm">
        Begin
      </a>
    </div>
  {% endif %}

  <div class="flex justify-between">
    <div class="flex flex-row items-center gap-3">
      <div class="heading-2">{{ study.name }}</div>
      {% if not study.public %}
        <span class="badge badge-warning">Private</span>
      {% endif %}
    </div>

    {% comment %}Figure out object based perms in templates{% endcomment %}
    {% if request.user.is_staff or request.user in study.owners.all or study.public %}
      {% include 'studies/partials/study_actions.html' %}
    {% endif %}
  </div>
  {% include 'studies/partials/study_details.html' %}

  <div x-data="{selectedTab: 'Images'}">
    <div class="mt-2">
      <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <select id="tabs" name="tabs" class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
          <option :selected="selectedTab == 'Images'">Images</option>
          <option :selected="selectedTab == 'Questions'">Questions</option>
          <option :selected="selectedTab == 'Features'">Features</option>
          <option :selected="selectedTab == 'Responses'">Responses</option>
        </select>
      </div>
      <div class="hidden sm:block">
        <nav class="flex space-x-4" aria-label="Tabs">
          <a href="" @click.prevent="selectedTab = 'Images'" class="px-3 py-2 font-medium text-sm rounded-md"
             :class="{'bg-indigo-100 text-indigo-700': selectedTab == 'Images',
                     'text-gray-500 hover:text-gray-700': selectedTab != 'Images'}">
            Images ({{ num_images|intcomma }})
          </a>
          <a href="" @click.prevent="selectedTab = 'Questions'" class="px-3 py-2 font-medium text-sm rounded-md"
             :class="{'bg-indigo-100 text-indigo-700': selectedTab == 'Questions',
                     'text-gray-500 hover:text-gray-700': selectedTab != 'Questions'}">
            Questions ({{ study.questions.count }})
          </a>
          <a href="" @click.prevent="selectedTab = 'Features'" class="px-3 py-2 font-medium text-sm rounded-md"
             :class="{'bg-indigo-100 text-indigo-700': selectedTab == 'Features',
                     'text-gray-500 hover:text-gray-700': selectedTab != 'Features'}">
            Features ({{ study.features.count }})
          </a>
          <a href="" @click.prevent="selectedTab = 'Annotators'" class="px-3 py-2 font-medium text-sm rounded-md"
             :class="{'bg-indigo-100 text-indigo-700': selectedTab == 'Annotators',
                     'text-gray-500 hover:text-gray-700': selectedTab != 'Annotators'}">
            Annotators ({{ study.num_annotators|intcomma }})
          </a>
        </nav>
      </div>
    </div>

    <div class="my-2 p-4">
      <div x-show="selectedTab == 'Images'">
        {% include 'studies/partials/pagination.html' with page_obj=images %}
        <div class="mb-4" x-data="thumbnailGrid();">
          <div class="hidden pb-3 sm:block">
            <div class="join">
              <button class="join-item btn btn-outline btn-xs" @click="decrease()">
                <i class="ri-subtract-line"></i>
              </button>
              <span class="join-item btn btn-outline btn-xs pointer-events-none">Columns</span>
              <button class="join-item btn btn-outline btn-xs" @click="increase()">
                <i class="ri-add-line"></i>
              </button>
            </div>
          </div>
          <div class="grid gap-4 grid-cols-2" :class="gridClassNames[numCols]">
            {% for image in images %}
              {% include 'studies/partials/study_image.html' %}
            {% endfor %}
          </div>
        </div>
        {% include 'studies/partials/pagination.html' with page_obj=images %}
        {% include 'ingest/partials/thumbnail_grid_js.html' %}
      </div>
      <ul x-show="selectedTab == 'Questions'">
        {% for question in study.questions.all %}
          <li>
            <span class="font-bold">
              {{ question.prompt }}
            </span>
            {{ question.choices_for_display|join:", " }}
          </li>
        {% endfor %}
      </ul>
      <ul x-show="selectedTab == 'Features'">
        {% for feature in study.features.all %}
          <li>{{ feature.label }}</li>
        {% endfor %}
      </ul>
      <div x-show="selectedTab == 'Annotators'">
        {% include 'studies/partials/annotators_progress_table.html' %}
      </div>
    </div>
  </div>
{% endblock %}
