{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}

  {% if preview_mode %}
    <ul class="flex bg-yellow-100 border border-yellow-300 my-4 px-4 py-3 rounded-md text-yellow-900 text-sm">
      <li>You are previewing a task. <a href="{% url 'study-detail' study_task.study.pk %}">Return to Study</a></li>
    </ul>
  {% endif %}

  {% if just_completed_task %}
    <script type="text/javascript" nonce="{{ CSP_NONCE }}">
      function undoStudyTask() {
        return {
          undo: function() {
            fetch('{% url "api:study_task_undo" just_completed_task.id %}', {
              method: 'POST',
              headers: {
                'X-CSRFToken': '{{ csrf_token }}',
              },
            }).then(response => {
              if (response.ok) {
                window.location.href = '{% url "study-task-detail" just_completed_task.id %}';
              } else {
                alert('An error occurred.');
              }
            }).catch(error => {
              console.error('Error:', error);
              alert('An error occurred.');
            });
          }
        }
      }
    </script>

    <div class="toast" x-data="undoStudyTask()">
      <div class="alert alert-info">
        <span>
          <a href="#" @click="undo()">Undo</a>
        </span>
      </div>
    </div>
  {% endif %}

  <div class="mb-2">
    <div class="heading-1">{{ study_task.study.name }}</div>
    {% if not preview_mode %}
      {{ tasks_remaining|intcomma }} tasks remaining in this study.
    {% endif %}
  </div>

  <div class="flex mt-2">
    <div class="w-2/3 mr-8">
      <div x-data="{ open: false, hovered: false }">
        <a class="cursor-pointer">
          <img class="max-w-full h-auto" @mouseenter="hovered = true" @click="open = true" src="{{ study_task.image.blob.url }}" />
        </a>
        <span class="text-sm">Click on the image to view it in full screen</span>

        <template x-if="true">
          <div x-show="open">
            {% include 'core/partials/image_modal.html' with image=study_task.image %}
          </div>
        </template>
      </div>
    </div>

    {% if study_task.complete %}
      You've finished this task.
    {% else %}
      {% if form.recent_diagnoses %}
        {{ form.recent_diagnoses|json_script:"recent-diagnoses" }}
      {% endif %}

      {% comment %}
      this is a hamfisted way of passing data around to the widget since we can't easily pass
      it as a context variable.
      {% endcomment %}
      {{ diagnosis_only_form|json_script:"diagnosis-only-form" }}

      <form class="w-1/3" method="POST" action="">
        {{ form.media }}

        {% csrf_token %}

        {{ form.non_field_errors  }}

        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
          <div class="mb-4">
            {{ field.errors }}
            {{ field.label }}
            {{ field }}
          </div>
        {% endfor %}
        <button {% if preview_mode %}disabled{% endif %} type="submit" class="btn btn-primary min-w-full">
          Respond and continue
        </button>
      </form>
    {% endif %}
  </div>
{% endblock %}
