{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
  {% if pending_tasks %}
    <div class="rounded-md bg-blue-50 p-4 mb-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <!-- Heroicon name: solid/information-circle -->
          <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <div class="mt-2 text-sm text-blue-700 flex justify-between">
            <p>You have {{ pending_tasks.count|intcomma }} tasks remaining for this study.</p>
            <button type="submit"
              class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Begin
            </button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div><h2>{{ study.name }}</h2></div>
  {% include 'studies/partials/study_details.html' %}

  <div class="row">
    <div class="col s6">
      <h4>Features</h4>
      {% for feature in study.features.all %}
        <div>{{ feature.label  }}</div>
      {% endfor %}
    </div>
    <div class="col s6">

      <h4>Questions</h4>
      <ul>
        {% for question in study.questions.all %}
          <li>{{ question.prompt }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
