{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
  <div>
    <h2>{{ study_task.study.name }}</h2>
    {{ tasks_remaining|intcomma }} tasks remaining in this study.
  </div>

  {% if request.user != study_task.annotator %}
    Warning: you're not the expected annotator, you shouldn't fill this out, {{ study_task.annotator }} should.
  {% endif %}

  <div class="flex mt-2">
  <div x-data="{ open: false, hovered: false }" class="pb-4 mr-8">
    <a class="cursor-pointer">
      {% if debug %}
        <img height="512" width="512" @mouseenter="hovered = true" @click="open = true" src="https://picsum.photos/seed/{{study_task.image.id}}/512">
      {% else %}
        <img height="512" width="512" @mouseenter="hovered = true" @click="open = true" src="{{ study_task.image.accession.blob.url }}" title="{{ study_task.image.accession.blob_name }}" />
      {% endif %}
    </a>

    <template x-if="true">
      <div x-show="open">
        {% include 'core/partials/image_modal.html' with image=study_task.image %}
      </div>
    </template>
  </div>
    {% if study_task.complete %}
      You've finished this task.
    {% else %}
      <form method="POST" action="">
        {% csrf_token %}
        {{ form.non_field_errors  }}
        {% for field in form %}
          <div class="mb-4">
            {{ field.errors }}
            {{ field.label }}{% if field.field.required %}*{% endif %}
            {{ field }}
          </div>
        {% endfor %}
        <button type="submit"
          class="mt-4 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Respond and continue
        </button>
      </form>
    {% endif %}
  </div>
{% endblock %}
