{% extends "drf-yasg/swagger-ui.html" %}

{% block extra_styles %}
  {{ block.super }}
  <style type="text/css">
    .welcome-api-banner {
      background-color: #85bffc;
      color: #2e2e2e;
      display: block;
      line-height: 35px;
      text-align: center;
      top: 0;
      z-index: 1000;
    }

    .topbar,
    .information-container a.link,
    .scheme-container,
    .filter-container,
    section.models {
      display: none;
    }
  </style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VBHRJSWF1T"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VBHRJSWF1T');
  </script>

  {% if NOINDEX %}
    <meta name="robots" content="noindex,follow" />
  {% endif %}
{% endblock %}

{% block extra_body %}
  <div class="welcome-api-banner">
    This is the official V2 API of the ISIC Archive. The V1 API has been retired.
    Any problems can be reported at the <a href="https://forum.isic-archive.com/c/archive/13">ISIC Forum</a>.
  </div>
{% endblock %}
