{% load display %}
{% load humanize %}

<div class="overflow-x-auto">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th>Annotator</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
      {% for annotator, counts in annotators %}
        <tr>
          <td>
            {% with user_slug=annotator.profile.hash_id %}
              {% if show_real_names %}
                {{ annotator|user_nicename }} (User {{ user_slug }})
              {% else %}
                User {{ user_slug }}
              {% endif %}

              {% if request.user == annotator %}
                <span class="badge badge-info badge-sm">Me</span>
              {% endif %}
            {% endwith %}
          </td>
          <td>
            {{ counts.completed|intcomma }} / {{ counts.total|intcomma }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
