{% load humanize %}

<div class="flex justify-center mt-4">
  <div class="join">
    {% if page_obj.has_previous %}
      <a href="{% querystring page=1 %}" class="join-item btn btn-sm"><i class="ri-skip-back-mini-line"></i></a>
      <a href="{% querystring page=page_obj.previous_page_number %}" class="join-item btn btn-sm"><i class="ri-arrow-left-s-line"></i></a>
    {% endif %}
    <button class="join-item btn btn-sm btn-disabled">Page {{ page_obj.number|intcomma }} of {{ page_obj.paginator.num_pages|intcomma }}</button>
    {% if page_obj.has_next %}
      <a href="{% querystring page=page_obj.next_page_number %}" class="join-item btn btn-sm"><i class="ri-arrow-right-s-line"></i></a>
      <a href="{% querystring page=page_obj.paginator.num_pages %}" class="join-item btn btn-sm"><i class="ri-skip-forward-mini-line"></i></a>
    {% endif %}
  </div>
</div>
