<dialog x-ref="questionPickerModal" class="modal">
  <div class="modal-box w-11/12 max-w-2xl">
    <div class="heading-3">Pick an official question</div>
    <input x-model="search" type="text" placeholder="Filter questions" class="input input-bordered w-full my-4" />
    <div class="overflow-x-auto border border-base-300">
      <table class="table table-zebra">
        <thead>
          <tr>
            <th>Question</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <template x-for="question in filteredQuestions">
            <tr>
              <td x-text="question.prompt"></td>
              <td>
                <strong x-show="usingQuestion(question)">Used</strong>
                <a href="" x-show="!usingQuestion(question)" @click.prevent="addQuestion(question)" class="link link-hover link-primary">Use</a>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
    <div class="modal-action">
      <button type="button" class="btn" @click="$refs.questionPickerModal.close()">Close</button>
    </div>
  </div>
  <div class="modal-backdrop" @click="$refs.questionPickerModal.close()"></div>
</dialog>
