<button class="btn" popovertarget="study-actions">
  Actions
  <i class="ri-arrow-down-s-line"></i>
</button>
<ul class="dropdown dropdown-end menu w-52 rounded-box bg-base-100 shadow-sm"
    popover id="study-actions">
  {% if can_edit %}
    <li>
      <a href="{% url 'studies/study-edit' study.pk %}">Edit Study</a>
    </li>
    <li>
      <a href="{% url 'studies/study-add-annotators' study.pk %}">Add Annotators</a>
    </li>
    <hr class="my-1 border-base-content/10">
  {% endif %}
  <li>
    <a href="{% url 'studies/study-download-responses' study.pk %}">Download Responses</a>
  </li>
  <hr class="my-1 border-base-content/10">
  <li>
    <a href="{% url 'studies/study-task-detail-preview' study.pk %}">Preview Example Task</a>
  </li>
</ul>
