{% extends 'core/base.html' %}
{% load humanize %}
{% load accession %}
{% load localtime %}
{% load static %}

{% block title %}{{ image.isic_id }} | {% endblock %}

{% block content %}
  <div class="space-y-4">
    <div class="flex justify-between w-full">
      <div class="flex items-center gap-3">
        <div class="heading-1">{{image.isic_id}}</div>

        {% if image.public %}
          <span class="badge badge-success">Public</span>
        {% else %}
          <span class="badge badge-warning">Private</span>
        {% endif %}
      </div>
      {% if request.user.is_staff %}
        {% include 'core/image_detail/actions_menu.html' %}
      {% endif %}
    </div>

    <div class="md:flex justify-between">
      <div class="flex justify-center">
        {% if image.accession.is_cog %}
          <div id="image" class="w-[512px] h-[512px] border border-gray-300"></div>
          <script src="{% static 'core/dist/cog.js' %}"></script>
          <link rel="stylesheet" href="{% static 'core/dist/ol.css' %}">
          <script type="text/javascript">
            initializeCogViewer(document.getElementById('image'), '{{ image.blob.url|safe }}');
          </script>
          <span class="text-sm">Scroll to zoom, click and drag to pan</span>
        {% else %}
          <a href="{{ image.blob.url }}">
            <img src="{{ image.blob.url }}"
                 class="object-cover sm:max-w-md max-h-96 lg:max-w-xl border border-black" />
          </a>
        {% endif %}
      </div>

      {% include 'core/image_detail/right_panel.html' %}
    </div>

    <div role="tablist" class="tabs tabs-lift">
      <input type="radio" name="image_tabs" role="tab" class="tab"
             aria-label="{{ sections.metadata }}" checked />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 p-6">
        {% include 'core/image_detail/metadata_tab.html' %}
      </div>

      <input type="radio" name="image_tabs" role="tab" class="tab"
             aria-label="{{ sections.studies }}" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 p-6">
        {% include 'core/image_detail/studies_tab.html' %}
      </div>

      {% if 'similar_images' in sections %}
        <input type="radio" name="image_tabs" role="tab" class="tab"
               aria-label="{{ sections.similar_images }}" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 p-6">
          {% include 'core/image_detail/similar_images_tab.html' %}
        </div>
      {% endif %}

      {% if 'patient_images' in sections %}
        <input type="radio" name="image_tabs" role="tab" class="tab"
               aria-label="{{ sections.patient_images }}" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 p-6">
          {% include 'core/image_detail/images_tab.html' with images=other_patient_images images_count=other_patient_images_count section_name='patient_images' lazy=1 %}
        </div>
      {% endif %}

      {% if 'lesion_images' in sections %}
        <input type="radio" name="image_tabs" role="tab" class="tab"
               aria-label="{{ sections.lesion_images }}" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 p-6">
          {% include 'core/image_detail/images_tab.html' with images=other_lesion_images images_count=other_lesion_images_count section_name='lesion_images' lazy=1 %}
        </div>
      {% endif %}

      {% if 'ingestion_details' in sections %}
        <input type="radio" name="image_tabs" role="tab" class="tab"
               aria-label="{{ sections.ingestion_details }}" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 p-6">
          {% include 'core/image_detail/ingestion_details_tab.html' %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
