{% load static %}
<script src="{% static 'core/js/thumbnail_grid.js' %}"></script>
<div class="flex flex-col gap-3" x-data="thumbnailGrid()">
  <div class="hidden sm:flex sm:items-center sm:justify-between">
    {% include 'core/partials/columns_widget.html' %}
  </div>
  <div class="grid gap-4 grid-cols-2" :class="gridClassNames[numCols]">
    {% for image in images|slice:MAX_RELATED_SHOW_FIRST_N %}
      {% include 'core/partials/image.html' %}
    {% endfor %}
  </div>

  {% if images_count > MAX_RELATED_SHOW_FIRST_N %}
    <div>Showing first {{ MAX_RELATED_SHOW_FIRST_N }} images.</div>
  {% endif %}
</div>
