{% load localtime %}

<div class="mt-4" style="min-width: 300px">
  <h3 class="font-medium text-gray-900">Information</h3>
  <dl class="mt-2 border-t border-b border-gray-200 divide-y divide-gray-200">
    <div class="py-3 flex justify-between text-sm font-medium">
      <dt class="text-gray-500">Created</dt>
      <dd class="text-gray-900">{% localtime image.created %}</dd>
    </div>

    <div class="py-3 flex justify-between text-sm font-medium">
      <dt class="text-gray-500">Dimensions</dt>
      <dd class="text-gray-900">{{image.accession.width}} x {{image.accession.height}}</dd>
    </div>

    <div class="py-3 flex justify-between text-sm font-medium">
      <dt class="text-gray-500">Attribute to</dt>
      <dd class="text-gray-900 w-28">
        {{ image.accession.cohort.attribution }}
      </dd>
    </div>

    <div class="py-3 flex justify-between text-sm font-medium">
      <dt class="text-gray-500">License</dt>
      <dd class="text-gray-900">{{ image.accession.cohort.copyright_license }}</dd>
    </div>

    <div class="py-3 flex justify-between text-sm font-medium">
      <dt class="text-gray-500">Used in</dt>
      <dd class="text-gray-900">
        {% for collection in official_collections %}
          <span class="inline-flex items-center px-2.5 py-0.5 my-0.5 rounded-md text-sm font-medium bg-blue-100 text-blue-800">
            <!-- heroicon/star -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
            <a href="{{ collection.get_absolute_url }}">{{ collection }}</a>
          </span>
          <br />
        {% empty %}
          -
        {% endfor %}
      </dd>
    </div>
  </dl>
</div>
