{% load localtime %}

<div class="mt-4 md:w-1/4">
  <div class="heading-3 font-medium text-gray-900">Information</div>
  <dl class="mt-2 border-t border-b border-gray-200 divide-y divide-gray-200">
    <div class="py-3 flex justify-between text-sm font-medium">
      <dt class="text-gray-500">Created</dt>
      <dd class="text-gray-900">{% localtime image.created %}</dd>
    </div>

    <div class="py-3 flex justify-between text-sm font-medium">
      <dt class="text-gray-500">Dimensions</dt>
      <dd class="text-gray-900">{{image.accession.width}} x {{image.accession.height}}</dd>
    </div>

    <div class="py-3 flex justify-between text-sm font-medium">
      <dt class="text-gray-500">Attribute to</dt>
      <dd class="text-gray-900">
        {{ image.accession.attribution }}
      </dd>
    </div>

    <div class="py-3 flex justify-between text-sm font-medium">
      <dt class="text-gray-500">License</dt>
      <dd class="text-gray-900">{{ image.accession.copyright_license }}</dd>
    </div>

    <div class="py-3 flex justify-between text-sm font-medium">
      <dt class="text-gray-500">Used in</dt>
      <dd class="text-gray-900">
        {% for collection in pinned_collections %}
          <span class="inline-flex items-center px-1.5 py-0.5 my-0.5 rounded-md text-sm font-medium bg-blue-100 text-blue-800">
            <i class="ri-pushpin-2-line"></i>
            <a href="{{ collection.get_absolute_url }}">{{ collection }}</a>
          </span>
          <br />
        {% empty %}
          -
        {% endfor %}
      </dd>
    </div>

    <div class="py-3 flex justify-between text-sm font-medium">
      <dt class="text-gray-500">Belongs to</dt>
      <dd class="text-gray-900">
        {% if image.accession.patient %}
          <span class="inline-flex items-center px-1.5 py-0.5 my-0.5 rounded-md text-sm font-medium bg-blue-100 text-blue-800">
            <a href="#">{{ image.accession.patient.id }}</a>
          </span>
          <br />
        {% endif %}

        {% if image.accession.lesion %}
          <span class="inline-flex items-center px-1.5 py-0.5 my-0.5 rounded-md text-sm font-medium bg-blue-100 text-blue-800">
            <a href="{{ image.accession.lesion.get_absolute_url }}">{{ image.accession.lesion.id }}</a>
          </span>
          <br />
        {% endif %}
      </dd>
    </div>

  </dl>
</div>
