<dialog x-ref="quickfindModal" class="modal items-start pt-6" @close="findText = ''; results = {}">
  <div class="modal-box w-11/12 max-w-5xl">
    <fieldset class="fieldset">
      <input type="search"
             id="quickfind-input"
             x-ref="quickfind"
             @input.debounce.250ms="performFind"
             x-model="findText"
             placeholder="Search anything.." class="input w-full max-w-l">
      <p class="label" x-show="findText.length < 3">At least 3 characters</p>
    </fieldset>

    <ul role="list" class="divide-y divide-gray-200">
      <template x-for="result in results">
        <li class="relative bg-white py-2 px-4 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <div class="flex justify-between space-x-3">
            <div class="min-w-0 flex-1">
              <a :href="result.url" class="block focus:outline-hidden">
                <span class="absolute inset-0" aria-hidden="true"></span>
                <div class="flex">
                  <i :class="result.icon"></i>
                  <div class="ml-2">
                    <p class="text-sm font-medium text-gray-900 truncate" x-text="result.title"></p>
                    <p class="text-sm text-gray-500 truncate" x-text="result.subtitle"></p>
                  </div>
                </div>
              </a>
            </div>
            <p class="shrink-0 whitespace-nowrap text-sm text-gray-500" x-text="result.result_type"></p>
          </div>
        </li>
      </template>
    </ul>
  </div>
  <div class="modal-backdrop" @click="$refs.quickfindModal.close()"></div>
</dialog>
