<dialog x-ref="quickfindModal" class="modal items-start pt-6" @close="findText = ''; results = {}">
  <div class="modal-box w-11/12 max-w-5xl">
    <fieldset class="fieldset">
      <input type="search"
             id="quickfind-input"
             x-ref="quickfind"
             @input.debounce.250ms="performFind"
             x-model="findText"
             placeholder="Search anything.." class="input w-full max-w-l">
      <p class="label" x-show="findText.length < 3">At least 3 characters</p>
    </fieldset>

    <ul class="list mt-2">
      <template x-for="result in results">
        <li>
          <a :href="result.url" class="list-row py-2 hover:bg-base-200">
            <div><i :class="result.icon"></i></div>
            <div class="list-col-grow">
              <div x-text="result.title"></div>
              <div class="text-xs text-base-content/60" x-text="result.subtitle"></div>
            </div>
            <span class="badge" x-text="result.result_type"></span>
          </a>
        </li>
      </template>
    </ul>
  </div>
  <div class="modal-backdrop" @click="$refs.quickfindModal.close()"></div>
</dialog>
