<div
  id="{{ widget.name }}-container"
  x-data="{ showModal: false, modalAction: undefined, modalOption: undefined }"
  class="combobox-container w-full relative"
>
  <div
    id="{{ widget.name }}-selected"
    class="absolute flex flex-wrap z-20 py-2 px-3 gap-2"
    style="pointer-events: none"
  ></div>
  <input
    id="{{ widget.name }}-input"
    type="{{ widget.type }}"
    name="{{ widget.name }}"
    class="input input-bordered w-full"
    oninput="filterOptions(event, '{{ widget.name }}')"
    tabindex="0"
  >
  <select
    id="{{ widget.name }}-select"
    name="{{ widget.name }}"
    multiple
    class="combobox-select select absolute w-full shadow-sm z-20 overflow-auto"
    style="max-height: 300px"
    tabindex="-1"
    oninput="selectionUpdated('{{ widget.name }}')"
    {% include "django/forms/widgets/attrs.html" %}
  >
    {% for id, label in widget.queryset_options %}
      <option
        value="{{ id }}"
        title="{{ label }}"
        {% if id in widget.value %}selected{% endif %}
      >
        <div class="flex-1">{{ label }}</div>
        {% if widget.edit %}
        <div>
          <i
            class="ri-pencil-line text-lg"
            title="Edit {{ widget.option_type }}"
            @click="showModal = true; modalAction = 'edit'; modalOption = {id: {{ id }}, label: '{{ label }}'};"
          ></i>
          <i
            class="ri-delete-bin-line text-lg"
            title="Delete {{ widget.option_type }}"
            @click="showModal = true; modalAction = 'delete'; modalOption = {id: {{ id }}, label: '{{ label }}'};"
          ></i>
        </div>
        {% endif %}
      </option>
    {% endfor %}
    <div
      id="no-matches-found"
      class="hidden w-full text-gray-500"
      style="text-align: center"
      {% if widget.edit %}@click="showModal = true; modalAction = 'create'; modalOption = undefined;"{% endif %}
    >
      No matches found.
      {% if widget.edit %}
      Click here to create a new option.
      {% endif %}
    </div>
  </select>
  {% if widget.edit %}
  <dialog
    x-ref="optionDialog"
    x-effect="showModal ? $refs.optionDialog.showModal() : $refs.optionDialog.close()"
    class="modal"
  >
    <div class="modal-box max-w-lg max-h-[600px] flex flex-col">
      <div class="flex items-center justify-between border-b border-gray-200 pb-4 shrink-0">
        <h2 class="text-xl font-semibold text-gray-900" style="text-transform: capitalize">
          <span x-text="modalAction"></span>
          {{ widget.option_type }}
          <span x-text="modalOption?.label"></span>
        </h2>
      </div>

      {% for action, text in widget.info_text.items %}
        <p x-show="'{{ action }}' == modalAction" class="py-3">{{ text }}</p>
      {% endfor %}

      <fieldset x-show="['create', 'edit'].includes(modalAction)" class="fieldset">
        <label class="fieldset-legend" for="new-option" style="text-transform: capitalize">{{ widget.option_type }}</label>
        <input type="text" :placeholder="modalOption?.label" name="new-option" id="new-option-input" class="input input-bordered w-full">
      </fieldset>

      <div id="optionModalErrors"></div>

      <div class="modal-action">
        <button type="submit" :class="modalAction == 'delete' ? 'btn btn-error text-white' : 'btn'" @click="submitOptionModal(modalAction, modalOption)">Confirm</button>
        <button type="button" class="btn" @click="showModal = false">Close</button>
      </div>
    </div>
    <div class="modal-backdrop" @click="showModal = false"></div>
  </dialog>
  {% endif %}
</div>

<script>
  // let initial selection value render before initializing widget
  setTimeout(() => {
    selectionUpdated('{{ widget.name }}');
    optionMatchesUpdated('{{ widget.name }}')
  }, 0)
</script>

<style>
  .combobox-select .hidden {
    display: none;
  }
  .combobox-select {
    display: none;
  }
  .combobox-container:focus-within .combobox-select {
    display: block;
  }
  .selection-chip {
    padding-right: 25px;
    position: relative;
  }
  .selection-chip::after {
    content: 'X';
    position: absolute;
    right: 8px;
  }
</style>
