{% extends 'core/base.html' %}
{% load humanize %}



{% block head_extra %}
  {{ block.super }}
  <script src="https://unpkg.com/chart.js@3"></script>
  <script src="https://unpkg.com/chartjs-chart-geo@3"></script>
{% endblock %}

{% block content %}
  <div class="space-y-6">
    <div class="heading-1">Archive Statistics</div>
    <div class="space-y-3 max-w-4xl mx-auto">
      {% for stat in stats %}
        <div class="stats stats-vertical sm:stats-horizontal sm:grid-cols-3 shadow w-full">
          {% for label, value in stat %}
            <div class="stat">
              <div class="stat-title text-xl text-wrap">{{ label }}</div>
              <div class="stat-value text-primary text-wrap">{{ value|intcomma }}</div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <div>
      <div class="heading-2 mb-4">Sessions per Country (Last 30 days)</div>
      <canvas id="canvas" width="1200" height="400"></canvas>
    </div>
  </div>

  {{ 30_day_sessions_per_country|json_script:"country_data" }}

  <script type="text/javascript">
    const country_values = JSON.parse(document.getElementById("country_data").textContent);

    fetch('https://unpkg.com/world-atlas/countries-110m.json').then((r) => r.json()).then((data) => {
      const countries = ChartGeo.topojson.feature(data, data.objects.countries).features;

      const chart = new Chart(document.getElementById("canvas").getContext("2d"), {
        type: 'choropleth',
        data: {
          labels: countries.map((d) => d.properties.name),
          datasets: [{
            label: 'Countries',
            data: countries.map((d) => {
              const country = country_values.filter(x => x.country_numeric === d.id)[0];
              if (country === undefined) {
                return {feature: d, value: 0};
              } else {
                return {feature: d, value: Math.log(country.sessions)};
              }
            }),
          }]
        },
        options: {
          showOutline: true,
          showGraticule: false,
          plugins: {
            tooltip: {
              callbacks: {
                label(item) {
                  if (item.raw.value === 0) {
                    return `${item.chart.data.labels[item.dataIndex]}: 0`;
                  } else {
                    return `${item.chart.data.labels[item.dataIndex]}: ${Math.ceil(Math.exp(item.raw.value))}`;
                  }
                },
              },
            },
            legend: {
              display: false
            },
          },
          scales: {
            xy: {
              projection: 'equalEarth'
            },
            color: {
              display:false,
            },
          }
        }
      });
    });
  </script>
{% endblock %}
