{% extends 'core/base.html' %}
{% load humanize %}



{% block head_extra %}
  {{ block.super }}
  <script src="https://unpkg.com/chart.js@3"></script>
  <script src="https://unpkg.com/chartjs-chart-geo@3"></script>
{% endblock %}

{% block content %}
  <div class="heading-1">Archive Statistics</div>
  <div class="mt-10 pb-12 bg-white sm:pb-16">
    <div class="relative">
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
          {% for stat in stats %}
            <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3 {% if not forloop.first %}mt-3{% endif %}">
              {% for label, value in stat %}
                <div class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
                  <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                    {{ label }}
                  </dt>
                  <dd class="order-1 text-5xl font-extrabold text-indigo-600">
                    {{ value|intcomma }}
                  </dd>
                </div>
              {% endfor %}
            </dl>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class="heading-2 mb-6">Sessions per Country (Last 30 days)</div>
    <canvas id="canvas" width="1200" height="400"></canvas>
  </div>

  {{ sessions_last_30_days_per_country|json_script:"country_data" }}

  <script type="text/javascript">
    const country_values = JSON.parse(document.getElementById("country_data").textContent);

    fetch('https://unpkg.com/world-atlas/countries-110m.json').then((r) => r.json()).then((data) => {
      const countries = ChartGeo.topojson.feature(data, data.objects.countries).features;

      const chart = new Chart(document.getElementById("canvas").getContext("2d"), {
        type: 'choropleth',
        data: {
          labels: countries.map((d) => d.properties.name),
          datasets: [{
            label: 'Countries',
            data: countries.map((d) => {
              const country = country_values.filter(x => x.country_numeric === d.id)[0];
              if (country === undefined) {
                return {feature: d, value: 0};
              } else {
                return {feature: d, value: Math.log(country.sessions)};
              }
            }),
          }]
        },
        options: {
          showOutline: true,
          showGraticule: false,
          plugins: {
            tooltip: {
              callbacks: {
                label(item) {
                  if (item.raw.value === 0) {
                    return `${item.chart.data.labels[item.dataIndex]}: 0`;
                  } else {
                    return `${item.chart.data.labels[item.dataIndex]}: ${Math.ceil(Math.exp(item.raw.value))}`;
                  }
                },
              },
            },
            legend: {
              display: false
            },
          },
          scales: {
            xy: {
              projection: 'equalEarth'
            },
            color: {
              display:false,
            },
          }
        }
      });
    });
  </script>
{% endblock %}
