{% extends 'core/base.html' %}

{% block content %}
  {% include 'ingest/partials/breadcrumbs.html' %}

  <div class="mt-6 w-3/4 mx-auto flex-row">
    {% include 'ingest/partials/metadata_file_select.html' %}
  </div>

  <div>
    <div class="h-12 my-8 relative">
      <span class="absolute flex font-bold text-lg items-center inset-y-0 left-1/2 -translate-x-1/2 py-2 px-3 bg-white z-20">OR</span>
      <hr class="absolute inset-x-0 top-1/2 z-10">
    </div>
    <div class="flex justify-center">
      <a href="{% url 'upload-metadata' cohort.id %}{% querystring ingest_review_redirect=1 %}">
        <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Upload New File
        </button>
      </a>
    </div>
  </div>

  <script type="text/javascript" nonce="{{ CSP_NONCE }}">
    function deleteMetadataFile(pk, e) {
      e.preventDefault();

      if (confirm('Are you sure you want to delete this file?')) {
        fetch(`/api/v2/metadata-files/${pk}/`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
        }).then((resp) => {
          if (!resp.ok) {
            throw new Error('Something went wrong.');
          }

          window.location.reload();
        }).catch((error) => {
          alert('There was a problem deleting the file.');
        });
      }
    }
  </script>

{% endblock %}
