{% extends "base.html" %}

{% load chunks %}

{% block extra_head %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.materialboxed').materialbox();

      $('select').formSelect();

      $('a.review-button').click(function(e) {
        let accessionDiv = $(this).parent('div').parent('div');
        let accessionId = accessionDiv.data('accession-id');
        let reviewStatus = $(this).data('review-status');

        fetch(`/api/v2/accessions/${accessionId}/`, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify(
            {'review_status':reviewStatus}
          ),
        }).then(response => response.json())
          .then(data => {
            accessionDiv.find('a.review-button').each(function() {
              if ($(this).data('review-status') === reviewStatus) {
                $(this).removeClass('dim');
              } else {
                $(this).addClass('dim');
              }
            });
          });
      });
    });
  </script>

  <style type="text/css" media="screen">
    .dim {
      opacity: 40%;
    }
  </style>

{% endblock %}

{% block content %}
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'cohort-list' %}" class="breadcrumb">Cohorts</a>
        <a class="breadcrumb">{{ cohort.name }}</a>
      </div>
    </div>
  </nav>

  <div><h2>{{ cohort.name }}</h2>
    <span>{{cohort.description}}</span>
  </div>

  <h4>Accessions</h4>
  <form method="get" action="">
    {{ filter.form.as_p }}
    <input type="submit" name="" value="filter" />
  </form>

  <hr />

  <div>
    <a href="{% url 'zip-create' cohort.id %}">Upload zip</a><br />
    <a href="{% url 'review-duplicates' cohort.id %}">Review Duplicates ({{ num_duplicates }})</a><br />
    <a href="{% url 'review-duplicate-filenames' cohort.id %}">Review Duplicate filenames ({{ num_duplicate_filenames }})</a><br />
    <a href="{% url 'apply-metadata' cohort.id %}">Apply metadata</a>
  </div>

  {% include 'studies/partials/pagination.html' with page_obj=page_obj %}

  {% for accessions in page_obj|chunks:3 %}
    <div class="row">
      {% for accession in accessions %}
        <div class="col" data-accession-id="{{ accession.id }}">
          {% if accession.status != 'skipped' %}
            {% if debug %}
              <img src="https://picsum.photos/seed/{{accession.id}}/300">
            {% else %}
              <img src="{{ accession.blob.url }}" class="materialboxed" width="300" height="300" title="{{ accession.blob_name }}" />
            {% endif %}
          {% else  %}
            <img src="https://via.placeholder.com/300x300.png?text={{ accession.blob_name }}" />
          {% endif %}
          <div>
            <a data-review-status="rejected" class="waves-effect waves-light btn-small red review-button
              {% if accession.review_status and accession.review_status != 'rejected' %}dim{% endif %}">Reject</a>
            <a data-review-status="accepted" class="waves-effect waves-light btn-small green review-button
              {% if accession.review_status and accession.review_status != 'accepted' %}dim{% endif %}">Accept</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  {% include 'studies/partials/pagination.html' with page_obj=page_obj %}
{% endblock %}
