{% extends 'core/base.html' %}

{% block content %}
  {% include 'ingest/partials/upload_progress_bar.html' with step=3 %}

  <div class="mb-5 flex justify-between">
    <div>
      <div class="heading-1">{{ cohort.name }}</div>
      <span>{{ cohort.description }}</span>
    </div>
  </div>

  <div class="flex justify-between mb-4">
    <div>
      <div class="heading-2">Zip Files</div>
      <p>A zip file should contain a set of images with unique filenames across the cohort that will be uploaded to the Archive.</p>
    </div>

    <div class="flex items-end">
      <a href="{% url 'upload/zip' cohort.id %}" class="btn btn-sm btn-primary">
        Add file
      </a>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        {% comment %}
          TODO: put in a status for rejected zips
        {% endcomment %}
        {% for zip_upload in cohort.zip_uploads.all %}
          <tr>
            <td>{{ zip_upload.blob_name }}</td>
            <td>{{ zip_upload.blob_size|filesizeformat }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="flex justify-between mb-4 mt-6">
    <div>
      <div class="heading-2">Metadata Files</div>
      <p>A metadata file should be a CSV containing an image name along with metadata compliant with the <a href="https://github.com/ImageMarkup/isic-archive/wiki/Image#metadata">metadata dictionary</a>.</p>
    </div>

    <div class="flex items-end">
      <a href="{% url 'upload/metadata' cohort.id %}" class="btn btn-sm btn-primary">
        Add file
      </a>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        {% for file in cohort.metadata_files.all %}
          <tr>
            <td>{{ file.blob_name }}</td>
            <td>{{ file.blob_size|filesizeformat }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div>
    <div class="h-12 my-8 relative">
      <span class="absolute flex font-bold text-lg items-center inset-y-0 left-1/2 -translate-x-1/2 py-2 px-3 bg-white z-20">OR</span>
      <hr class="absolute inset-x-0 top-1/2 z-10">
    </div>
    <div class="text-center">
      Instead of uploading a bundle of images, you can upload an individual one.
      <a href="{% url 'upload/single-accession' cohort.pk %}" class="btn btn-secondary ml-6">Upload an Image</a>
    </div>
  </div>
{% endblock %}
