{% extends 'core/material_base.html' %}
{% load get_key %}

{% load chunks %}

{% block extra_head %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('select').formSelect();
    });
  </script>

  {% include 'ingest/partials/review_header.html' %}
{% endblock %}

{% block content %}
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'cohort-list' %}" class="breadcrumb">Cohorts</a>
        <a class="breadcrumb">{{ cohort.name }}</a>
      </div>
    </div>
  </nav>

  <div><h2>{{ cohort.name }}</h2>
    <span>{{ cohort.description }}</span>
  </div>

  <h4>Accessions ({{ total_accessions }})</h4>

  <div>
    <h6>Actions</h6>
    <a href="{% url 'upload-zip' cohort.id %}">Upload zip</a><br />
    <a href="{% url 'apply-metadata' cohort.id %}">Apply metadata</a><br />
    <a href="{% url 'reset-metadata' cohort.id %}" onclick="return confirm('Are you sure you want to reset metadata for the entire cohort?')">Reset metadata</a><br />
  </div>
  <hr />

  <table class="centered">
    <thead>
      <tr>
        <th>Check</th>
        <th>Unreviewed</th>
        <th>Rejected</th>
        <th>Accepted</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% with counts=check_counts|get_key:"diagnosis_check" %}
        <tr>
          <td>Diagnosis</td>
          <td>{{ counts.0 }}</td>
          <td>{{ counts.1 }}</td>
          <td>{{ counts.2 }}</td>
          <td><a href="{% url 'cohort-review-diagnosis' cohort.id %}">Review</a></td>
        </tr>
      {% endwith %}
      {% with counts=check_counts|get_key:"quality_check" %}
        <tr>
          <td>Quality</td>
          <td>{{ counts.0 }}</td>
          <td>{{ counts.1 }}</td>
          <td>{{ counts.2 }}</td>
          <td rowspan="2"><a href="{% url 'cohort-review-quality-and-phi' cohort.id %}">Review</a></td>
        </tr>
      {% endwith %}
      {% with counts=check_counts|get_key:"phi_check" %}
        <tr>
          <td>PHI</td>
          <td>{{ counts.0 }}</td>
          <td>{{ counts.1 }}</td>
          <td>{{ counts.2 }}</td>
        </tr>
      {% endwith %}
      {% with counts=check_counts|get_key:"duplicate_check" %}
        <tr>
          <td>Duplicate</td>
          <td>{{ counts.0 }}</td>
          <td>{{ counts.1 }}</td>
          <td>{{ counts.2 }}</td>
          <td><a href="{% url 'cohort-review-duplicate' cohort.id %}">Review</a></td>
        </tr>
      {% endwith %}
      {% with counts=check_counts|get_key:"lesion_check" %}
        <tr>
          <td>Lesion</td>
          <td>{{ counts.0 }}</td>
          <td>{{ counts.1 }}</td>
          <td>{{ counts.2 }}</td>
          <td><a href="{% url 'cohort-review-lesion' cohort.id %}">Review</a></td>
        </tr>
      {% endwith %}
    </tbody>
  </table>
{% endblock %}
