{% extends 'core/base.html' %}
{% load get_key %}
{% load chunks %}

{% block content %}
  {% include 'ingest/partials/upload_progress_bar.html' with step=3 %}

  <div class="mb-5">
    <h2>{{ cohort.name }}</h2>
    <span>{{ cohort.description }}</span>
  </div>

  <div class="flex justify-between mb-4">
    <div>
      <h2>Zip Files</h2>
      <p>A zip file should contain a set of images with unique filenames across the cohort that will be uploaded to the Archive.</p>
    </div>

    <div class="flex items-end">
      <a href="{% url 'upload/zip' cohort.id %}">
        <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Add file
        </button>
      </a>
    </div>
  </div>
  <div>
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Filename
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Size
                  </th>
                </tr>
              </thead>
              <tbody>
                {% comment %}
                  TODO: put in a status for rejected zips
                  {% endcomment %}
                {% for zip_upload in cohort.zip_uploads.all %}
                  <tr class="{% cycle 'bg-white' 'bg-gray-50' %}">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      {{ zip_upload.blob_name }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      {{ zip_upload.blob_size|filesizeformat }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-between mb-4 mt-6">
    <div>
      <h2>Metadata Files</h2>
      <p>A metadata file should be a CSV containing an image name along with metadata compliant with the <a href="https://github.com/ImageMarkup/isic-archive/wiki/Image#metadata">metadata dictionary</a>.</p>
    </div>

    <div class="flex items-end">
      <a href="{% url 'upload-metadata' cohort.id %}">
        <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Add file
        </button>
      </a>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Filename
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Size
                </th>
              </tr>
            </thead>
            <tbody>
              {% for file in cohort.metadata_files.all %}
                <tr class="{% if forloop.first %}bg-white{% else %}bg-gray-300{% endif %}">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    {{ file.blob_name }}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ file.blob_size|filesizeformat }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
