{% extends 'core/base.html' %}
{% load humanize %}
{% load get_key %}

{% load chunks %}

{% block head_extra %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js" integrity="sha512-nIwdJlD5/vHj23CbO2iHCXtsqzdTTx3e3uAmpTm4x2Y8xCIFyWu4cSIV8GaGe2UNVq86/1h9EgUZy7tn243qdA==" crossorigin="anonymous"></script>
  {% include 'ingest/partials/review_header.html' %}
{% endblock %}

{% block content %}
  <div class="flex justify-between">
    {% include 'ingest/partials/breadcrumbs.html' %}
    {% include 'ingest/partials/cohort_actions.html' %}
  </div>

  {% include 'ingest/partials/cohort_details.html' %}
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Check
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Unreviewed
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Rejected
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Accepted
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only"></span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {% for check, counts in check_counts.items %}
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    {{ check_nicenames|get_key:check }}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <a href="{% url 'upload/cohort-browser' cohort.pk %}?{{ check }}=unreviewed">
                      {{ counts.unreviewed|intcomma }}
                    </a>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <a href="{% url 'upload/cohort-browser' cohort.pk %}?{{ check }}=False">
                      {{ counts.rejected|intcomma }}
                    </a>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <a href="{% url 'upload/cohort-browser' cohort.pk %}?{{ check }}=True">
                      {{ counts.accepted|intcomma  }}
                    </a>
                  </td>
                  {% if check != 'quality_check' %}
                    <td rowspan="{% if check == 'phi_check' %}2{% else %}1{% endif %}" class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                      {% with review_url=review_urls|get_key:check %}
                        <a href="{% url review_url cohort.id %}" class="text-indigo-600 hover:text-indigo-900">Review</a>
                      {% endwith %}
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-between mt-4">
    <a href="{% url 'upload/cohort-browser' cohort.pk %}">
      <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Browse Accessions
      </button>
    </a>
  </div>

{% endblock %}
