{% extends 'core/base.html' %}
{% load humanize %}



{% block content %}
    <div class="flex justify-between">
        <div class="heading-1">Cohorts</div>
        {% include 'ingest/partials/cohort_list_actions.html' %}
    </div>


    <div class="mt-4 overflow-x-auto">
        <table class="table table-compact table-zebra w-full">
            <thead>
                <tr>
                    <th>Contributor</th>
                    <th>Attribution</th>
                    <th>Cohort</th>
                    <th>Default License</th>
                    <th># of Accessions</th>
                    <th># of Lesions</th>
                    <th># of Patients</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{% if row.display_contributor %}{{ row.contributor.institution_name }}{% endif %}</td>
                        <td>{% if row.display_attribution %}{{ row.cohort.attribution }}{% endif %}</td>
                        <td><a href="{% url 'cohort-detail' row.cohort.id %}">{{ row.cohort.name }}</a></td>
                        <td>{{ row.cohort.default_copyright_license }}</td>
                        <td>{{ row.accession_count|intcomma }}</td>
                        <td>{{ row.lesion_count|intcomma }}</td>
                        <td>{{ row.patient_count|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
