{% extends 'core/base.html' %}
{% load humanize %}
{% load accession %}

{% block content %}
  <div class="flex justify-between">
    {% include 'ingest/partials/breadcrumbs.html' %}
    {% include 'ingest/partials/cohort_actions.html' %}
  </div>

  <div>
    <p class="mb-4">
      Publishing your images will make them available in the Archive. They will be visible in the
      main gallery, available to be put into collections, and able to have studies reference them. Images can
      be published publicly, making them visible to the world, or privately, enabling them to be shared
      with specific individuals.
    </p>

    <p class="mb-4">
      Should these images be made public, they will be attributed to "<span class="font-bold">{{ cohort.attribution }}</span>" when a DOI is issued.
      Images under this cohort will be licensed as <span class="font-bold">{{ cohort.copyright_license }}</span>.
    </p>

    <p class="mb-4">
      Upon publishing these accessions, they will be added to a collection named "<span class="font-bold">Publish of {{ cohort.name }}</span>".
    </p>
  </div>

  {% if not num_publishable %}
    There aren't any accessions that can be published at this time.
  {% else %}
    There are {{ num_publishable|intcomma }} accessions that can be published.

    <div class="mt-4 max-w-3xl mx-auto text-center">
      <form method="POST" action="">
        {% csrf_token %}

        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Make images public</span>
            <input name="public" type="checkbox" class="toggle toggle-primary" />
          </label>
        </div>

        <button onclick="return confirm('Are you sure you want to publish {{ num_publishable|intcomma }} images?')" type="submit" class="btn btn-primary">
          Publish {{ num_publishable|intcomma }} accessions
        </button>
      </form>
    </div>
  {% endif %}
{% endblock %}
