{% extends 'core/base.html' %}
{% load static %}

{% block head_extra %}
  <script src="{% static 'ingest/cohortAutocomplete.js' %}"></script>
{% endblock %}

{% block content %}
  <form class="flex flex-col max-w-2xl mx-auto space-y-4" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="heading-1">Merge Cohorts</div>

    {% include 'ingest/partials/cohort_autocomplete_field.html' with field=form.cohort %}
    {% include 'ingest/partials/cohort_autocomplete_field.html' with field=form.cohort_to_merge %}

    <button type="submit" class="btn btn-primary self-end">Merge Cohorts</button>
  </form>
{% endblock %}
