{% extends 'core/base.html' %}

{% block content %}
  <header class="border-b border-gray-100 flex items-center justify-between py-2">
    <h3>Cohorts</h3>
    <a href="{% url 'upload/create-cohort' contributor.id %}" class="button inline-flex items-center is-primary is-sm">
      Add new
      <i class="ri-add-circle-line ml-2"></i>
    </a>
  </header>
  <ul class="collection">
    {% for cohort in cohorts %}
      <li>
        <a class="collection-item" href="{{ cohort.get_absolute_url }}">{{ cohort.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
