{% extends 'core/base.html' %}

{% block content %}
  {% include 'ingest/partials/upload_progress_bar.html' with step=1 %}

  <div class="heading-1">Select a Contributor</div>
  <p>A contributor is the institution which will be contributing the images. Choose a contributor from the list below.</p>

  <div class="mt-6">
    <ul class="bg-gray-50 border border-gray-200 rounded-md divide-y divide-gray-200">
      {% for contributor in contributors %}
        <li class="py-4 px-6">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate">
                {{ contributor.institution_name }}
              </p>
              <p class="text-sm text-gray-500 truncate">
                {{ contributor.institution_url }}
              </p>
            </div>
            <div>
              <a href="{% url 'upload/select-or-create-cohort' contributor.id %}" class="btn btn-primary btn-sm">
                Use
              </a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <div class="h-12 my-8 relative">
      <span class="absolute flex font-bold text-lg items-center inset-y-0 left-1/2 -translate-x-1/2 py-2 px-3 bg-white z-20">OR</span>
      <hr class="absolute inset-x-0 top-1/2 z-10">
    </div>
    <div class="text-center">
      If you don't see your contributor in the list, you can create a new one.
      <a href="{% url 'upload/create-contributor' %}" class="btn btn-secondary ml-6">New Contributor</a>
    </div>
  </div>
{% endblock %}
