{% extends 'core/base.html' %}

{% block content %}
  <form class="flex flex-col max-w-2xl mx-auto space-y-4" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="heading-1">Create a Contributor</div>
    <p class="text-sm text-base-content/60">
      This is information about the institution contributing to the Archive. A contributor is the institution which will be contributing the images.
    </p>

    <fieldset class="fieldset">
      <label class="fieldset-legend" for="{{ form.institution_name.html_name }}">{{ form.institution_name.label }}</label>
      <input type="text" value="{{ form.institution_name.value|default_if_none:'' }}" name="{{ form.institution_name.html_name }}" id="{{ form.institution_name.html_name }}" class="input input-bordered w-full" required>
      <p class="fieldset-label"><span class="prose">{{ form.institution_name.help_text|safe }}</span></p>
      {{ form.institution_name.errors }}
    </fieldset>

    <fieldset class="fieldset">
      <label class="fieldset-legend" for="{{ form.institution_url.html_name }}">{{ form.institution_url.label }}</label>
      <input type="text" value="{{ form.institution_url.value|default_if_none:'' }}" name="{{ form.institution_url.html_name }}" id="{{ form.institution_url.html_name }}" class="input input-bordered w-full">
      <p class="fieldset-label"><span class="prose">{{ form.institution_url.help_text|safe }}</span></p>
      {{ form.institution_url.errors }}
    </fieldset>

    <fieldset class="fieldset">
      <label class="fieldset-legend" for="{{ form.legal_contact_info.html_name }}">{{ form.legal_contact_info.label }}</label>
      <textarea id="{{ form.legal_contact_info.html_name }}" name="{{ form.legal_contact_info.html_name }}" rows="3" class="textarea textarea-bordered w-full" required>{{ form.legal_contact_info.value|default_if_none:'' }}</textarea>
      <p class="fieldset-label"><span class="prose">{{ form.legal_contact_info.help_text|safe }}</span></p>
      {{ form.legal_contact_info.errors }}
    </fieldset>

    <div class="bg-base-200 p-6 rounded-md space-y-4">
      <div>
        <div class="heading-3">Cohort defaults <span class="italic text-sm">Optional</span></div>
        <p class="text-sm text-base-content/60">If accepted, <strong>these will be public</strong>, and published along with your images.</p>
      </div>

      <fieldset class="fieldset">
        <label class="fieldset-legend" for="{{ form.default_copyright_license.html_name }}">{{ form.default_copyright_license.label }}</label>
        <select id="{{ form.default_copyright_license.html_name }}" name="{{ form.default_copyright_license.html_name }}" class="select select-bordered w-full">
          {% for choice in form.default_copyright_license.field.choices %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
          {% endfor %}
        </select>
        <div x-data>
          <button type="button" @click="$refs.licenseHelpModal.showModal()" class="link link-primary text-xs">help me choose</button>
          {% include 'ingest/partials/help_me_choose_modal.html' %}
        </div>
        {{ form.default_copyright_license.errors }}
      </fieldset>

      <fieldset class="fieldset">
        <label class="fieldset-legend" for="{{ form.default_attribution.html_name }}">{{ form.default_attribution.label }}</label>
        <textarea id="{{ form.default_attribution.html_name }}" name="{{ form.default_attribution.html_name }}" rows="3" class="textarea textarea-bordered w-full">{{ form.default_attribution.value|default_if_none:'' }}</textarea>
        <p class="fieldset-label"><span class="prose">{{ form.default_attribution.help_text|safe }}</span></p>
        {{ form.default_attribution.errors }}
      </fieldset>
    </div>

    <button type="submit" class="btn btn-primary self-end">
      Create Contributor
    </button>
  </form>
{% endblock %}
