{% extends 'core/base.html' %}

{% block content %}
  <form class="space-y-8" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="space-y-8 space-y-5">
      <div>
        <div class="heading-1" class="leading-6 text-gray-900">
          Create a Contributor
        </div>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          This is information about the institution contributing to the Archive. A contributor is the institution which will be contributing the images.
        </p>
      </div>

      <div class="mt-6 mt-5 space-y-6">
        <div class="grid grid-cols-3 gap-4 items-start border-t border-gray-200 pt-5">

          <label for="{{ form.institution_name.html_name }}" class="block text-sm font-medium text-gray-700 mt-px pt-2">
            {{ form.institution_name.label }}
          </label>
          <div class="mt-1 mt-0 col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
              <input type="text" value="{{ form.institution_name.value|default:'' }}" name="{{ form.institution_name.html_name }}" id="{{ form.institution_name.html_name }}" class="flex-1 block w-full focus:ring-primary-500 focus:border-primary-500 min-w-0 rounded-none rounded-r-md text-sm border-gray-300" required>
            </div>
            <p class="mt-2 text-sm text-gray-500" id="{{ form.institution_name.html_name }}-description">{{ form.institution_name.help_text }}</p>
            {{ form.institution_name.errors }}
          </div>
        </div>

        <div class="grid grid-cols-3 gap-4 items-start border-t border-gray-200 pt-5">

          <label for="{{ form.institution_url.html_name }}" class="block text-sm font-medium text-gray-700 mt-px pt-2">
            {{ form.institution_url.label }}
          </label>
          <div class="mt-1 mt-0 col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
              <input type="text" value="{{ form.institution_url.value|default:'' }}" name="{{ form.institution_url.html_name }}" id="{{ form.institution_url.html_name }}" class="flex-1 block w-full focus:ring-primary-500 focus:border-primary-500 min-w-0 rounded-none rounded-r-md text-sm border-gray-300" required>
            </div>
            <p class="mt-2 text-sm text-gray-500" id="{{ form.institution_url.html_name }}-description">{{ form.institution_url.help_text }}</p>
            {{ form.institution_url.errors }}
          </div>
        </div>

        <div class="grid grid-cols-3 gap-4 items-start border-t border-gray-200 pt-5">
          <label for="{{ form.legal_contact_info.html_name }}" class="block text-sm font-medium text-gray-700 mt-px pt-2">
            {{ form.legal_contact_info.label }}
          </label>
          <div class="mt-1 mt-0 col-span-2">
            <textarea id="{{ form.legal_contact_info.html_name }}" name="{{ form.legal_contact_info.html_name }}" rows="3" class="border max-w-lg outline-none shadow-sm p-4 block w-full focus:ring-2 focus:ring-prinary-500 focus:border-primary-500 text-sm border-gray-400 rounded-md" required>{{ form.legal_contact_info.value|default:'' }}</textarea>
            <p class="mt-2 text-sm text-gray-500">{{ form.legal_contact_info.help_text }}</p>
            {{ form.legal_contact_info.errors }}
          </div>
        </div>

        <div class="bg-gray-50 border border-gray-200 p-6 rounded-md">
          <div class="heading-3">Cohort defaults <span class="italic text-sm">Optional</span></div>
          <p>If accepted, <strong>these will be public</strong>, and published along with your images.</p>

          <div class="grid grid-cols-3 border-t border-gray-200 pt-5">
            <label for="{{ form.default_copyright_license.html_name }}" class="block mb-2 text-sm font-medium text-gray-700">
              {{ form.default_copyright_license.label }}
            </label>
            <div class="mt-1 mt-0 col-span-2">
              <select id="{{ form.default_copyright_license.html_name }}" name="{{ form.default_copyright_license.html_name }}" class="border max-w-lg px-3 py-2 block focus:ring-primary-500 focus:border-primary-500 w-full shadow-sm max-w-xs text-sm border-gray-400 rounded-md">
                {% for choice in form.default_copyright_license.field.choices %}
                  <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
              </select>
              <div x-data="{ open: false }" class="pb-4">
                <span @click="open = true" class="cursor-pointer my-3 text-xs text-primary-500">help me choose</span>
                <div x-show="open" @click.away="open = false">
                  {% include 'ingest/partials/help_me_choose_modal.html' %}
                </div>
              </div>

              {{ form.default_copyright_license.errors }}
            </div>
          </div>

          <div class="grid grid-cols-3 border-t border-gray-200 pt-2">
            <label for="{{ form.default_attribution.html_name }}" class="block text-sm font-medium text-gray-700 mt-px pt-2">
              {{ form.default_attribution.label }}
            </label>
            <div class="mt-1 mt-0 col-span-2">
              <textarea id="{{ form.default_attribution.html_name }}" name="{{ form.default_attribution.html_name }}" rows="3" class="border max-w-lg outline-none shadow-sm p-4 block w-full focus:ring-2 focus:ring-prinary-500 focus:border-primary-500 text-sm border-gray-400 rounded-md"></textarea>
              <p class="mt-2 text-sm text-gray-500">{{ form.default_attribution.help_text }}</div>
                {{ form.default_attribution.errors  }}
          </div>
        </div>

      </div>

      <div class="border-t border-gray-200 py-5">
        <div class="flex justify-end">
          <button type="submit" class="btn btn-primary">
            Create Contributor
          </button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
