{% extends 'core/base.html' %}
{% load humanize %}
{% load localtime %}

{% block content %}
  <div class="mb-4">

    <div class="heading-1">Ingest Review</div>
    <p>Cohorts for review</p>

    {% include 'studies/partials/pagination.html' with page_obj=cohorts %}
  </div>
  <div class="bg-white shadow overflow-hidden sm:rounded-md">
    <ul class="divide-y divide-gray-200">
      {% for cohort in cohorts %}
        <li>
          <a href="{% url 'cohort-detail' cohort.id %}" class="block hover:bg-gray-50">
            <div class="px-4 py-4 sm:px-6 flex justify-between">
              <div class="flex flex-col">
                <div class="flex">
                  <p class="text-sm font-medium text-indigo-600 truncate">
                    {{ cohort.name }}
                    {% if cohort.unreviewed_count %}
                      <p class="px-2 ml-2 text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                        {{ cohort.unreviewed_count|intcomma }} unreviewed
                      </p>
                    {%endif%}
                  </p>
                </div>
                <div class="sm:flex">
                  <p class="flex items-center text-sm text-gray-500">
                    <i class="ri-verified-badge-line flex-shrink-0 mr-1.5 text-sm text-gray-400"></i>
                    {{cohort.default_copyright_license}}
                  </p>
                </div>
                <div class="sm:flex">
                  <p class="flex items-center text-sm text-gray-500">
                    <i class="ri-team-line flex-shrink-0 mr-1.5 text-sm text-gray-400" aria-hidden="true"></i>
                    {{cohort.contributor.institution_name}}
                  </p>
                </div>
              </div>
              <div class="mt-2 sm:flex sm:justify-between">
                <div class="mt-2 flex-col items-center text-sm text-gray-500 sm:mt-0">
                  <p>
                    Created on {% localtime cohort.created %}
                  </p>
                  <p>
                    Created by
                    {{ cohort.creator }}
                  </p>
                </div>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
