{% extends 'core/base.html' %}
{% load get_key %}
{% load chunks %}

{% block content %}
  <div class="mb-4">

    <h2>Ingest Review</h2>
    <p>Cohorts for review</p>
  </div>
  <div class="bg-white shadow overflow-hidden sm:rounded-md">
    <ul class="divide-y divide-gray-200">
      {% for cohort in cohorts %}
        <li>
          <a href="{% url 'cohort-detail' cohort.id %}" class="block hover:bg-gray-50">
            <div class="px-4 py-4 sm:px-6">
              <div class="flex items-center">
                <p class="text-sm font-medium text-indigo-600 truncate">
                  {{ cohort.name }}
                  <p class="px-2 ml-2 text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    {{ cohort.copyright_license  }}
                  </p>
                </p>
              </div>
              <div class="mt-2 sm:flex sm:justify-between">
                <div class="sm:flex">
                  <p class="flex items-center text-sm text-gray-500">
                    <!-- Heroicon name: solid/users -->
                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                    </svg>
                    {{cohort.contributor.institution_name}}
                  </p>

                </div>
                <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                  <p>
                    Created on
                    <time datetime="2020-01-07">{{ cohort.created }}</time>
                  </p>
                  <p>
                    Created by
                    {{ cohort.creator }}
                  </p>
                </div>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
