{% extends 'core/material_base.html' %}
{% load chunks %}

{% block head_extra %}
  {% include 'ingest/partials/review_header.html' %}
{% endblock %}

{% block content %}
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'cohort-list' %}" class="breadcrumb">Cohorts</a>
        <a href="{% url 'cohort-detail' cohort.id %}" class="breadcrumb">{{ cohort.name }}</a>
        <a class="breadcrumb">Skipped Accessions</a>
      </div>
    </div>
  </nav>

  <div>
    <h2>{{ cohort.name }}</h2>
    <span>{{ cohort.description }}</span>
  </div>

  <h4>
    Skipped Accessions
  </h4>

  {{ total_accessions  }} total

  {% include 'studies/partials/pagination.html' with page_obj=page_obj %}

  {% for accession_chunk in page_obj|chunks:4 %}
    <div class="row">
      {% for accession in accession_chunk %}
        {% include 'ingest/partials/accession.html' %}
      {% endfor %}
    </div>
  {% endfor %}

  {% include 'studies/partials/pagination.html' with page_obj=page_obj %}
{% endblock %}
