{% extends "base.html" %}

{% block content %}
  <div>
    <h2>{{ cohort.name }}</h2>
    <span>{{cohort.description}}</span>
  </div>

  <h4>
    Duplicate Accessions
  </h4>
  <span><a href="{% url 'cohort-detail' cohort.id %}">back to cohort</a></span>

  {% for duplicate_group in duplicate_groups %}
    <div>
      {% for accession in duplicate_group %}
        <div>
          <p>
            <img src="{{ accession.blob.url }}" width="300" height="300" />
            <span><a href="{{ accession.blob.url }}">{{ accession.blob_name }}</a></span>
          </p>
          <span>{{ accession.get_review_status_display }}</span>
        </div>
      {% endfor %}
    </div>
    <hr />
  {% endfor %}
{% endblock %}
