{% extends "base.html" %}

{% block content %}
  <div><h2>{{ cohort.name }}</h2>
    <span>{{cohort.description}}</span>
  </div>

  <h4>Duplicate Accessions</h4>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Review Status</th>
      </tr>
    </thead>
    {% for accession in duplicates %}
      <tr>
        <td>
          {% if accession.status != 'skipped' %}
            <img src="{{ accession.blob.url }}" width="300" height="300" />
          {% endif %}
          <span><a href="{{ accession.blob.url }}">{{ accession.blob_name }}</a></span>
        </td>
        <td>{{ accession.get_status_display }}</td>
        <td>{{ accession.get_review_status_display }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
