{% extends 'core/material_base.html' %}
{% load chunks %}
{% load get_key %}

{% block extra_head %}
  {% include 'ingest/partials/review_header.html' %}
{% endblock %}

{% block content %}
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'cohort-list' %}" class="breadcrumb">Cohorts</a>
        <a href="{% url 'cohort-detail' cohort.id %}" class="breadcrumb">{{ cohort.name }}</a>
        <a class="breadcrumb">{{ check }} Review</a>
      </div>
    </div>
  </nav>

  <div>
    <h2>{{ cohort.name }}</h2>
    <span>{{ cohort.description }}</span>
  </div>

  <h4>
    {{ check }} ({{ remaining }} remaining)
  </h4>

  {% include 'studies/partials/pagination.html' with page_obj=page_obj %}

  {% for chunk in page_obj|chunks:3 %}
    <div class="row">
      {% for accession in chunk %}
        {% include 'ingest/partials/accession.html' %}
      {% endfor %}
    </div>
  {% endfor %}

  {% include 'studies/partials/pagination.html' with page_obj=page_obj %}
{% endblock %}
