{% extends 'core/base.html' %}
{% load humanize %}

{% block head_extra %}
  {{ block.super }}
  {% include 'ingest/partials/review_header.html' %}
{% endblock %}

{% block content %}
  <div class="flex justify-between">
    {% include 'ingest/partials/breadcrumbs.html' %}
  </div>

  {% if not cohort.accessions.unreviewed.exists %}
    <div>
      No accessions left to review!
    </div>
  {% else %}
    <progress class="progress progress-primary w-200 mt-6" value="{{ progress.percentage }}" max="100"></progress>
    {{ progress.num_reviewed|intcomma }} / {{ progress.num_reviewable|intcomma }} ({{ progress.percentage }}%)

    <div class="mb-4" x-data="thumbnailGrid();">
      <div class="flex flex-row justify-between pb-3">
        <div>
          sorted by <span class="italic">original filename</span>
        </div>
        <div>
          <a class="px-1" href="#" @click="decrease();">fewer columns</a> |
          <a class="px-1" href="#" @click="increase();">more columns</a>
        </div>
      </div>
      <div class="grid gap-4" :class="`grid-cols-${numCols}`">
        {% for accession in page_obj %}
          {% include 'ingest/partials/accession.html' with review_mode=1 include_acquisition_day=0 %}
        {% endfor %}
      </div>
    </div>

    {% if page_obj %}
      {% include 'ingest/partials/review_footer.html' %}
    {% endif %}

    {% include 'ingest/partials/thumbnail_grid_js.html' %}
  {% endif %}
{% endblock %}
