{% extends 'core/base.html' %}

{% block head_extra %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}
  <form class="flex flex-col max-w-2xl mx-auto space-y-4" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="heading-1">Upload to {{ cohort.name }}</div>

    <fieldset class="fieldset">
      <label class="fieldset-legend">{{ form.original_blob.label }}</label>
      {{ form.original_blob }}
      {{ form.original_blob.errors }}
    </fieldset>

    <div class="divider"></div>

    {% for field in form %}
      {% if field.name != 'original_blob' %}
        <fieldset class="fieldset">
          <label class="fieldset-legend">{{ field.label }}</label>
          {% if field.field.choices %}
            <select class="select select-bordered w-full" name="{{ field.name }}">
              {% for choice in field.field.choices %}
                <option value="{{ choice.0 }}" {% if field.value == choice.0 %}selected="selected"{% endif %}>
                  {{ choice.1 }}
                </option>
              {% endfor %}
            </select>
          {% else %}
            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}" class="input input-bordered w-full">
          {% endif %}
          {{ field.errors }}
        </fieldset>
      {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary self-end">Upload</button>
  </form>
{% endblock %}
