{% load accession %}

<dialog x-ref="accessionModal" class="modal">
  <div class="modal-box max-w-2xl max-h-[calc(100vh-4rem)]">
    <template x-if="hovered">
        {% comment %}Note the single quotes: https://github.com/alpinejs/alpine/issues/466{% endcomment %}
      <img :src="'{{ accession.blob_.url }}'" class="max-w-full max-h-[70vh] object-contain mx-auto" />
    </template>

    <div x-data="{selectedTab: 'Metadata'}">
      {{ accession.original_blob_name }}
      <div class="mt-2">
        <div class="sm:hidden">
          <label for="tabs" class="sr-only">Select a tab</label>
          <select id="tabs" name="tabs" class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
            <option :selected="selectedTab == 'Metadata'">Metadata</option>
            <option :selected="selectedTab == 'Unstructured Metadata'">Unstructured Metadata</option>
          </select>
        </div>
        <div class="hidden sm:block">
          <nav class="flex space-x-4" aria-label="Tabs">
            <a href="" @click.prevent="selectedTab = 'Metadata'" class="px-3 py-2 font-medium text-sm rounded-md"
               :class="{'bg-indigo-100 text-indigo-700': selectedTab == 'Metadata',
                       'text-gray-500 hover:text-gray-700': selectedTab != 'Metadata'}">
              Metadata
            </a>
            <a href="" @click.prevent="selectedTab = 'Unstructured Metadata'" class="px-3 py-2 font-medium text-sm rounded-md"
               :class="{'bg-indigo-100 text-indigo-700': selectedTab == 'Unstructured Metadata',
                       'text-gray-500 hover:text-gray-700': selectedTab != 'Unstructured Metadata'}">
              Unstructured Metadata
            </a>
          </nav>
        </div>
      </div>

      <div class="my-2 bg-gray-100 p-4">
          <pre x-show="selectedTab == 'Metadata'">{{ accession.metadata|formatted }}</pre>
          <pre x-show="selectedTab == 'Unstructured Metadata'">{{ accession.unstructured_metadata.value|formatted }}</pre>
      </div>
    </div>

    <div class="modal-action">
      <button type="button" class="btn" @click="$refs.accessionModal.close()">Close</button>
    </div>
  </div>
  <div class="modal-backdrop" @click="$refs.accessionModal.close()"></div>
</dialog>
