{% load accession %}

<div class="col accession-col" {% if review_mode %}x-data="accession({{ accession.id }});"{% endif %}>
  <div x-data="{ open: false, hovered: false }" class="pb-4">
    <a class="cursor-pointer">
      {% if PLACEHOLDER_IMAGES %}
        <img @mouseenter="hovered = true" @click="open = true" src="https://picsum.photos/seed/{{accession.id}}/256">
      {% else %}
        <img @mouseenter="hovered = true" @click="open = true" src="{{ accession.thumbnail_256.url }}" />
      {% endif %}
    </a>

    <div x-cloak x-show="open">
      {% include 'ingest/partials/accession_modal.html' %}
    </div>
  </div>
  <div class="flex justify-around">
    {% if accession.metadata.diagnosis %}
      <span>{{ accession.metadata.diagnosis }}</span>
    {% endif %}
    {% if include_acquisition_day %}
      <span>
        {% if accession.metadata.acquisition_day %}
          (Day {{ accession.metadata.acquisition_day }})
        {% endif %}
      </span>
    {% endif %}
  </div>
  {% if review_mode %}
    <div class="flex justify-evenly">
      <button @click="toggleReject()" class="btn btn-sm btn-error review-button" :class="{'dim': review === false}">Reject</button>
    </div>
  {% endif %}
</div>
