<fieldset class="fieldset" x-data="autocompleteInput({suggestUrl: '{{ suggest_url }}', detailUrl: '{{ detail_url }}', labelKey: '{{ label_key|default:"name" }}', required: {{ field.field.required|yesno:"true,false" }}})">
  <label class="fieldset-legend">{{ field.label }}</label>

  <input
    type="hidden"
    name="{{ field.html_name }}"
    value="{{ field.value|default_if_none:'' }}"
    x-ref="hiddenInput"
    x-model="selectedId"
  />
  <input
    type="search"
    class="input input-bordered w-full"
    x-model="query"
    x-effect="$el.setCustomValidity(validationMessage)"
    @input.debounce.250ms="fetchSuggestions"
  />

  <ul x-cloak x-show="loadingSuggestions || suggestions.length" class="list border border-base-300 rounded-box mt-1">
    <li x-show="loadingSuggestions" class="p-2 flex justify-center">
      <span class="loading loading-spinner loading-sm"></span>
    </li>
    <template x-for="suggestion in suggestions">
      <li>
        <a class="list-row py-2 hover:bg-base-200 cursor-pointer" @click="select(suggestion)">
          <div class="list-col-grow" x-text="label(suggestion)"></div>
        </a>
      </li>
    </template>
  </ul>

  <div x-cloak x-show="loadingSelectedDetail || selectedDetail" class="bg-base-200 rounded-box border border-base-300 p-4 mt-2">
    <div x-show="loadingSelectedDetail" class="flex justify-center">
      <span class="loading loading-spinner loading-sm"></span>
    </div>
    {% include detail_template %}
  </div>

  <p class="fieldset-label"><span class="prose">{{ field.help_text|safe }}</span></p>
  {{ field.errors }}
</fieldset>
