<button class="btn" popovertarget="cohort-actions">
  Actions
  <i class="ri-arrow-down-s-line"></i>
</button>
<ul class="dropdown dropdown-end menu w-52 rounded-box bg-base-100 shadow-sm"
    popover id="cohort-actions">
  <li>
    <a href="{% url 'upload/edit-cohort' cohort.pk %}">Edit Cohort</a>
  </li>
  <hr class="my-1 border-base-content/10">
  {% url 'ingest/cohort-review' cohort.pk as review_url %}
  <li>
    <a href="{{ review_url }}">Review Cohort</a>
  </li>
  <li>
    <a href="{{ review_url }}{% querystring grouped_by_lesion='1' %}">Review Cohort by Lesion</a>
  </li>
  <hr class="my-1 border-base-content/10">
  <li>
    <a href="{% url 'upload/cohort-files' cohort.pk %}">Add additional files</a>
  </li>
  <li>
    <a href="{% url 'ingest/validate-metadata' cohort.pk %}">Validate & Apply Metadata</a>
  </li>
  <hr class="my-1 border-base-content/10">
  <li>
    <a href="{% url 'upload/cohort-publish' cohort.pk %}">Publish Cohort</a>
  </li>
</ul>
