<ul x-show="selectedDetail" class="space-y-1 text-sm">
  <li>
    <span class="font-bold">Name: </span>
    <span x-text="selectedDetail?.name"></span>
  </li>
  <li>
    <span class="font-bold">Description: </span>
    <span x-text="selectedDetail?.description"></span>
  </li>
  <li>
    <span class="font-bold">Default Attribution: </span>
    <span x-text="selectedDetail?.default_attribution"></span>
  </li>
  <li>
    <span class="font-bold">Default License: </span>
    <span x-text="selectedDetail?.default_copyright_license"></span>
  </li>
  <li>
    <span class="font-bold">Accessions: </span>
    <span x-text="new Intl.NumberFormat('en-US').format(selectedDetail?.accession_count)"></span>
  </li>
</ul>
