{% load localtime %}
{% load humanize %}

<div class="my-4 bg-gray-50 p-2 rounded-sm border-gray-200 border">
  <ul>
    <li><span class="font-bold">Name:</span> {{ cohort.name }}</li>
    <li><span class="font-bold">Description:</span> {{ cohort.description }}</li>
    <li><span class="font-bold">License:</span> {{ cohort.get_copyright_license_display }}</li>
    <li><span class="font-bold">Created by:</span> {{ cohort.creator }}</li>
    <li><span class="font-bold">Created on:</span> {% localtime cohort.created %}</li>
    <li><span class="font-bold">Number accessions:</span> {{ cohort.accessions.count|intcomma }}</li>
  </ul>
</div>
