{% load localtime %}
{% load humanize %}
{% load markdownify %}

<div id="detail-info">
  <ul>
    <li><span class="font-bold">Name:</span> {{ cohort.name }}</li>
    <li><span class="font-bold">Description:</span> {{ cohort.description|markdownify }}</li>
    <li><span class="font-bold">Default Attribution:</span> {{ cohort.default_attribution }}</li>
    <li><span class="font-bold">Default License:</span> {{ cohort.get_default_copyright_license_display }}</li>
    <li><span class="font-bold">Created by:</span> {{ cohort.creator.first_name }} {{ cohort.creator.last_name }} ({{ cohort.creator }})</li>
    <li><span class="font-bold">Created on:</span> {% localtime cohort.created %}</li>
    {% if cohort.collection %}
      <li><span class="font-bold">Magic Collection:</span> <a href="{% url 'core/collection-detail' cohort.collection.pk %}" class="text-blue-500 hover:underline">{{ cohort.collection.name }}</a></li>
    {% endif %}
    <li><span class="font-bold">Number of accessions:</span> {{ counts.accession_count|intcomma }}</li>
    <li><span class="font-bold">Number of lesions:</span> {{ counts.lesion_count|intcomma }}</li>
    <li><span class="font-bold">Number of patients:</span> {{ counts.patient_count|intcomma }}</li>
    <li><span class="font-bold">Published:</span> {{ counts.published_count|intcomma }}</li>
    <li><span class="font-bold">Unreviewed:</span> {{ counts.unreviewed_count|intcomma }}</li>
    <li><span class="font-bold">Accepted:</span> {{ counts.accepted_count|intcomma }}</li>
    <li><span class="font-bold">Rejected:</span> {{ counts.rejected_count|intcomma }}</li>
  </ul>
</div>
