<dialog x-ref="licenseHelpModal" class="modal">
  <div class="modal-box max-w-2xl">
    <div class="heading-4">Licenses</div>
    <span>The ISIC recommends that dataset contributors choose the <span class="font-bold">CC-0</span> or <span class="font-bold">CC-BY</span> licenses whenever possible.</span>
    <ul class="divide-y divide-gray-200">
      <li class="py-4 flex">
        <img class="h-10 w-25" src="https://licensebuttons.net/l/zero/1.0/88x31.png" alt="">
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-900">CC-0 (No restrictions)</p>
          <p class="text-sm text-gray-500">
            CC-0 enables scientists, educators, artists and other creators and
            owners of copyright- or database-protected content to waive those
            interests in their works and thereby place them as completely as
            possible in the public domain, so that others may freely build upon,
            enhance and reuse the works for any purposes without restriction under
            copyright or database law.

            <a href="https://creativecommons.org/publicdomain/zero/1.0/">view</a>
          </p>
        </div>
      </li>
      <li class="py-4 flex">
        <img class="h-10 w-25" src="https://licensebuttons.net/l/by/4.0/88x31.png" alt="">
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-900">CC-BY (Attribution)</p>
          <p class="text-sm text-gray-500">
            This license lets others distribute, remix, tweak, and build upon your
            work, even commercially, as long as they credit you for the original
            creation.
            <a href="https://creativecommons.org/licenses/by/4.0">view</a>
          </p>
        </div>
      </li>
      <li class="py-4 flex">
        <img class="h-10 w-25" src="https://licensebuttons.net/l/by-nc/4.0/88x31.png" alt="">
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-900">CC-BY-NC (Attribution-NonCommercial, Not recommended)</p>
          <p class="text-sm text-gray-500">
            This license lets others remix, tweak, and build upon your work
            non-commercially, and although their new works must also acknowledge
            you and be non-commercial, they don't have to license their derivative
            works on the same terms.
            <a href="https://creativecommons.org/licenses/by-nc/4.0">view</a>
          </p>
        </div>
      </li>
    </ul>
    <div class="modal-action">
      <button type="button" class="btn" @click="$refs.licenseHelpModal.close()">Close</button>
    </div>
  </div>
  <div class="modal-backdrop" @click="$refs.licenseHelpModal.close()"></div>
</dialog>
