<form method="POST" action="">
  {{ form.non_field_errors }}
  {{ form.metadata_file.errors }}
  <fieldset>
    <div x-data="{checked: null}" class="bg-white rounded-md -space-y-px">
      {% csrf_token %}

      {% for metadata_file in cohort.metadata_files.all %}
        <label
          @click="checked = {{ forloop.counter }}"
          :class="{'border-gray-200': checked !== {{ forloop.counter }},
          'bg-indigo-50 border-indigo-200 z-10': checked === {{ forloop.counter }}}"
          class="{% if forloop.first or forloop.last %}rounded-tl-md rounded-tr-md{% endif %} relative border p-4 flex cursor-pointer">
          <input type="radio"
            name="{{ form.metadata_file.html_name  }}"
            class="h-4 w-4 mt-0.5 cursor-pointer text-indigo-600 border-gray-300 focus:ring-indigo-500"
            :checked="checked === {{ metadata_file.id }}"
            value="{{ metadata_file.id }}">
          <div class="ml-3 flex flex-col">
            <span
              :class="{'text-gray-900': checked !== {{ forloop.counter }},
              'text-indigo-900': checked === {{ forloop.counter }}}" class="block text-sm font-medium">
              {{ metadata_file.blob_basename }}
            </span>
            <span
              :class="{'text-gray-500': checked !== {{ forloop.counter }},
              'text-indigo-700': checked === {{ forloop.counter }}}"
              class="text-gray-500 block text-sm">
              <p>{{ metadata_file.creator }}</p>
              <p>{{ metadata_file.created }}</p>
            </span>
          </div>
        </label>
      {% endfor %}
    </div>
  </fieldset>

  <div class="mt-2 flex justify-end">
    <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Validate
    </button>
  </div>
</form>
