{% if unstructured_columns %}
  <div class="rounded-md bg-yellow-50 p-4 my-4">
    <div class="flex">
      <div class="flex-shrink-0">
  <!-- Heroicon name: solid/x-circle -->
        <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <div class="heading-3" class="text-sm font-medium text-yellow-800">
          There are some columns we didn't recognize. This is okay, they'll be added to your images as unstructured data.
        </div>
        <div class="mt-2 text-sm text-yellow-700">
          <ul class="list-disc pl-5 space-y-1">
            {% for col in unstructured_columns %}
              <li>
                {{ col }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div id="checkpoint-problems">

  <div>
    <div class="heading-4">Checkpoint 1 - Filename checks</div>
  </div>
  {% for problem in csv_check %}
    <div>
      {{ problem.message  }}
      {% if problem.context %}
        <div>
          {{ problem.context }}
        </div>
      {% endif %}
    </div>
  {% empty %}
    passed.
  {% endfor %}

  <div>
    <div class="heading-4">Checkpoint 2 - Internal Consistency</div>
  </div>
  {% if internal_check is not None %}
    {% if internal_check.0 or internal_check.1 %}
      <ul>
        {% for key, values in internal_check.0.items %}
          <li>
            <strong>{{ key.0 }}</strong> - {{ key.1 }} - lines: {{ values|slice:"5"|join:", " }}
            {% if values|length > 5 %}(and {{ values|length|add:"-5" }} more){% endif %}
          </li>
        {% endfor %}

        {% for batch_problem in internal_check.1 %}
          <li>
            <strong>{{ batch_problem.message }}</strong>
            - instances: {{ batch_problem.context|slice:"5"|join:", " }}
            {% if batch_problem.context|length > 5 %}(and {{batch_problem.context|length|add:"-5" }} more){% endif %}
          </li>
        {% endfor %}

      </ul>
    {% else %}
      passed.
    {% endif %}
  {% else %}
    skipped.
  {% endif %}

  <div>
    <div class="heading-4">Checkpoint 3 - Archive Consistency</div>
  </div>
  {% if archive_check is not None %}
    {% if archive_check.0 or archive_check.1 %}
      <ul>
        {% for key, values in archive_check.0.items %}
          <li>
            <strong>{{ key.0 }}</strong> - {{ key.1 }} - lines: {{ values|slice:"5"|join:", " }}
            {% if values|length > 5 %}(and {{ values|length|add:"-5" }} more){% endif %}
          </li>
        {% endfor %}

        {% for batch_problem in archive_check.1 %}
          <li>
            <strong>{{ batch_problem.message }}</strong>
            - instances: {{ batch_problem.context|slice:"5"|join:", " }}
            {% if batch_problem.context|length > 5 %}(and {{batch_problem.context|length|add:"-5" }} more){% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      passed.
    {% endif %}
  {% else %}
    skipped.
  {% endif %}
</div>

{% if successful %}
  <div class="flex justify-end mt-2" x-data="applyMetadataButton()">
    <button
      :disabled="applying || applied"
      @click="apply"
      type="button"
      class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <div x-show="applying" class="flex">
        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        <span>Applying</span>
      </div>

      <div x-show="!applying">
        <div x-show="applied">
          Applied
        </div>
        <div x-show="!applied">
          Apply
        </div>
      </div>
    </button>
  </div>
{% endif %}
