{{ checks|json_script:"checks" }}

<div x-data="submitReviewButton()">

  <button
    :disabled="submitting || submitted"
    @click="submit"
    type="button"
    class="review-button inline-flex items-center px-2.5 py-1.5 border border-transparent text-s font-medium rounded shadow-sm hover:text-white text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">

    <div x-show="submitting" class="flex">
      <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      <span>Submitting</span>
    </div>

    <div x-show="!submitting">
      <div x-show="submitted">
        Submitted
      </div>
      <div x-show="!submitted">
        Accept remaining
      </div>
    </div>
  </button>

</div>

<script type="text/javascript">
  function submitReviewButton() {
    return {
      submitting: false,
      submitted: false,
      submit() {
        this.submitting = true;
        let submissions = [];
        let checks = JSON.parse(document.getElementById('checks').textContent);

        $('.accession-col').map(function(i, el) {
          // fetch id from alpine data
          let accessionId = el.__x.$data.id;
          submissions.push(fetch(`/api/v2/accessions/${accessionId}/soft_accept/`, {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(
              _.zipObject(checks, _.fill(_.clone(checks), true))
            ),
          }));
        });

        Promise.all(submissions).then((values) => {
          this.submitted = true;
          this.submitting = false;
          // reload the page. use this instead of .reload() since this
          // version won't keep users at the bottom of the page.
          window.location.href = window.location.href;
        });
      }
    }
  }
</script>
