<script type="text/javascript" nonce="{{ CSP_NONCE }}">
  function accession(id) {
    Alpine.store('accessions').addItem(id);

    return {
      id: id,
      review: null,
      async toggleReject() {
        if (this.review === null) {
          this.review = false;
        } else {
          this.review = null;
        }

        // Place values in a global store so the submit function can grab
        // all of them.
        Alpine.store('accessions').setReview(this.id, this.review);
      },
    };
  }
</script>

<style type="text/css" media="screen" nonce="{{ CSP_NONCE }}">
  .dim {
    opacity: 40%;
  }
</style>
