{{ checks|json_script:"checks" }}

<a x-data="submitReviewButton()"
  :disabled="submitting"
  @click="submit"
  class="waves-effect waves-light btn green"
  style="margin-left:10px; margin-bottom:50px;">Submit</a>

<script type="text/javascript">
  function submitReviewButton() {
    return {
      submitting: false,
      submit() {
        this.submitting = true;
        let submissions = [];
        let checks = JSON.parse(document.getElementById('checks').textContent);

        $('.accession-col').map(function(i, el) {
          submissions.push(fetch(`/api/v2/accessions/${el.__x.$data.id}/soft_accept/`, {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(
              _.zipObject(checks, _.fill(_.clone(checks), true))
            ),
          }));
        });

        Promise.all(submissions).then((values) => {
          this.submitting = false;
          M.toast({html: 'Review submitted.'});
        });
      }
    }
  }
</script>
