<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.5/mousetrap.min.js" integrity="sha512-+Jg3Ynmj9hse704K48H6rBBI3jdNBjReRGBCxUWFfOz3yVurnJFWtAWssDAsGtzWYw89xFWPxShuj2T6E9EOpg==" crossorigin="anonymous"></script>

<script type="text/javascript">
  let binds = {
    '1': 'low_quality',
    '2': 'duplicate',
    '3': 'has_phi',
  };

  function accession(id, reviewStatus, rejectReason) {
    return {
      id: id,
      reviewStatus: reviewStatus,
      rejectReason: rejectReason,
      reject(reason) {
        let body = {'review_status':'rejected',
                    'reject_reason': reason};

        // if re-selecting the same reason, act as a de-select
        if (reason == this.rejectReason) {
          body = {'review_status': '',
                  'reject_reason': ''};
        }

        fetch(`/api/v2/accessions/${this.id}/`, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify(body),
        }).then(response => response.json())
          .then(data => {
            this.reviewStatus = data.review_status;
            this.rejectReason = data.reject_reason;
          });
      },
    };
  }

  $(document).ready(function(){
    $('.materialboxed').materialbox();

    Mousetrap.bind(Object.keys(binds), (event) => {
      if (document.querySelectorAll(".accession-col:hover").length != 0) {
        $('.accession-col:hover').get(0).__x.$data.reject(binds[event.key]);
      }
    });
  });
</script>

<style type="text/css" media="screen">
  .dim {
    opacity: 40%;
  }
</style>
