<ul class="steps steps-vertical sm:steps-horizontal w-full mb-6">
  <li class="step {% if step >= 1 %}step-primary{% endif %}">
    <div class="text-left">
      <div class="text-xs font-semibold uppercase">Contributor Selection</div>
      <div class="text-sm text-base-content/60">Pick the Contributor to upload on behalf of.</div>
    </div>
  </li>
  <li class="step {% if step >= 2 %}step-primary{% endif %}">
    <div class="text-left">
      <div class="text-xs font-semibold uppercase">Cohort Selection</div>
      <div class="text-sm text-base-content/60">Pick a Cohort to upload data to.</div>
    </div>
  </li>
  <li class="step {% if step >= 3 %}step-primary{% endif %}">
    <div class="text-left">
      <div class="text-xs font-semibold uppercase">Upload Data</div>
      <div class="text-sm text-base-content/60">Upload your images.</div>
    </div>
  </li>
</ul>
